<div id="map-tools">
  <strong>Available datasets</strong>
  <span class="close"><i class="fa fa-close"></i> close</span>
</div>

<div class="dataselect">

  <!-- Data categories  ///////////////////////////////////////////////// -->
  <div class="datanav categories">
    <div class="datanav-in">
      <div class="dataset" data-show="surveys">
        <span>My surveys <i class="fa fa-chevron-right"></i></span>
      </div>
      <div class="dataset" data-show="socialmedia">
        <span>Social media <i class="fa fa-chevron-right"></i></span>
      </div>
      <div class="dataset" data-show="economic">
        <span>Economic <i class="fa fa-chevron-right"></i></span>
      </div>
      <div class="dataset" data-show="transportation">
        <span>Transportation <i class="fa fa-chevron-right"></i></span>
      </div>
      <div class="dataset">
        <span>Crime &amp; safety <i class="fa fa-chevron-right"></i></span>
      </div>
      <div class="dataset" data-show="upload">
        <span>Upload data <i class="fa fa-chevron-right"></i></span>
      </div>
    </div>
  </div>

  <!-- Data sources ///////////////////////////////////////////////// -->
  <div class="datanav sources socialmedia">
    <div class="datanav-in">
      <div class="dataset" data-show="twitter">
        <span>Twitter <i class="fa fa-twitter"></i></span>
      </div>
      <div class="dataset" data-show="foursquare">
        <span>Foursquare <i class="fa fa-foursquare"></i></span>
      </div>
      <div class="dataset" data-show="instagram">
        <span>Instagram <i class="fa fa-instagram"></i></span>
      </div>
      <div class="dataset">
        <span>Pinterest <i class="fa fa-pinterest"></i></span>
      </div>
      <div class="dataset">
        <span>Facebook <i class="fa fa-facebook"></i></span>
      </div>
      <div class="dataset">
        <span>Weibo <i class="fa fa-weibo"></i></span>
      </div>
    </div>
  </div>

  <div class="datanav sources economic">
    <div class="datanav-in">
      <div class="dataset" data-show="factual-business">
        <span>Retail locations <i class="fa fa-building-o"></i></span>
      </div>
      <div class="dataset" data-show="permits-streetuse">
        <span>Street use permits <i class="fa fa-umbrella"></i></span>
      </div>
      <div class="dataset" data-show="carto-garypermits">
        <span>Street use permits <i class="fa fa-umbrella"></i></span>
      </div>
    </div>
  </div>

  <div class="datanav sources transportation">
    <div class="datanav-in">
      <div class="dataset" data-show="traffic">
        <span>Traffic <i class="fa fa-car"></i></span>
      </div>
      <div class="dataset" data-show="ped-fatalities">
        <span>Pedestrian fatalities <i class="fa fa-male"></i></span>
      </div>
      <div class="dataset" data-show="bike-fatalities">
        <span>Bicyclist fatalities <i class="fa fa-bicycle"></i></span>
      </div>
    </div>
  </div>

  <!--
  <div class="datanav sources surveys">
    <div class="datanav-in">
      <div class="dataset" data-show="bike-counts">
        <span>Bicycle Counts <i class="fa fa-bullseye"></i></span>
      </div>
      <div class="dataset" data-show="ped-counts">
        <span>Pedestrian Counts <i class="fa fa-bullseye"></i></span>
      </div>
      <div class="dataset" data-show="survey-parcel">
        <span>Mission Bay parcel survey <i class="fa fa-bullseye"></i></span>
      </div>
      <div class="dataset" data-show="survey-business">
        <span>Mission Bay business survey <i class="fa fa-bullseye"></i></span>
      </div>
    </div>
  </div>-->

  <div class="datanav sources upload">
    <div class="datanav-in">
      <div class="dataset">
        <span>Upload your data</span>
        <a class="button add-layer">Select file <i class="fa fa-plus-circle"></i></a>
      </div>
    </div>
  </div>


  <!-- Dataset details   ////////////////////////////////////////////////// -->

  <!-- Social media data  ................................. -->
  <div class="datanav details instagram">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-instagram"></i> Instagram</strong>
        <a class="button add-layer" data-add="instagram">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Summary and density data on instagram activity, filterable by time
        and location.</p>
      </div>
    </div>
  </div>

  <div class="datanav details twitter">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-twitter"></i> Twitter</strong>
        <a class="button add-layer">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Summary and density data on Twitter activity, filterable by time
        and location.</p>
      </div>
    </div>
  </div>

  <div class="datanav details foursquare">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-foursquare"></i> Foursqaure</strong>
        <a class="button add-layer">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Summary and density data on foursquare activity, and checkins,
         filterable by time and location.</p>
      </div>
    </div>
  </div>

  <!-- Economic activity data  ................................. -->
  <div class="datanav details factual-business">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-bullseye"></i> Business locations</strong>
        <a class="button add-layer" data-add="factual-business">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Nearby business locations sourced from Foursqaure.</p>
      </div>
    </div>
  </div>

  <div class="datanav details permits-streetuse">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-bullseye"></i> Street use permits</strong>
        <a class="button add-layer">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>.</p>
      </div>
    </div>
  </div>

  <div class="datanav details carto-garypermits">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-bullseye"></i> Gary building permits</strong>
        <a class="button add-layer" data-add="carto" data-id="building_permits_3">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>.</p>
      </div>
    </div>
  </div>

  <!-- Transportation data ............................... -->

  <div class="datanav details traffic">
    <div class="datanav-in">
      <div class="dataset">
        <strong>Traffic <i class="fa fa-car"></i></strong>
        <a class="button add-layer" data-add="traffic">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Historical traffic data by street segment.</p>
      </div>
    </div>
  </div>

  <div class="datanav details ped-fatalities">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-bullseye"></i> Pedestrian Fatalities</strong>
        <a class="button add-layer" data-add="ped-fatalities">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Pedestrian fatality locations from the City and County of San Francisco.</p>
      </div>
    </div>
  </div>

  <div class="datanav details bike-fatalities">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-bullseye"></i> Bicyclist Fatalities</strong>
        <a class="button add-layer" data-add="bike-fatalities">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Bicyclist fatality locations from the City and County of San Francisco.</p>
      </div>
    </div>
  </div>


  <!-- "My surveys" data  ................................. -->
  <div class="datanav details bike-counts">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-bullseye"></i> Bicycle Counts</strong>
        <a class="button add-layer" data-add="bike-counts">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Bicycle counts collected through the LocalData field app.</p>
      </div>
    </div>
  </div>

  <div class="datanav details ped-counts">
    <div class="datanav-in">
      <div class="dataset">
        <strong><i class="fa fa-bullseye"></i> Pedestrian Counts</strong>
        <a class="button add-layer" data-add="ped-counts">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Pedestrian counts collected through the LocalData field app.</p>
      </div>
    </div>
  </div>

  <div class="datanav details survey-parcel">
    <div class="datanav-in">
      <div class="dataset">
        <strong>Mission Bay parcel survey <i class="fa fa-bullseye"></i></strong>
        <a class="button add-layer" data-add="survey" data-id="5b51af30-3477-11e4-8466-37cd6d8f8d78">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Data you've collected on the Mission Bay.</p>
      </div>
    </div>
  </div>

  <div class="datanav details survey-business">
    <div class="datanav-in">
      <div class="dataset">
        <strong> Mission Bay business survey <i class="fa fa-bullseye"></i></strong>
        <a class="button add-layer" data-add="survey" data-id="5b51af30-3477-11e4-8466-37cd6d8f8d78">Add data layer <i class="fa fa-plus-circle"></i></a>
        <p>Results of a door-to-door business sentiment survey run for the project
        by Berkeley planning students.</p>
      </div>
    </div>
  </div>


</div>
