<h4 class="show-settings">
    <% if (meta.color) { %>
    <span class="circle toggle-layer" style="background-color: <%= meta.color %>;border-color: <%= meta.color %>;"></span>
    <% } %>
    <span class="title">
      <%= meta.count %>
      <%= name %> &nbsp; <i class="fa fa-angle-right"></i>
    </span>
</h4>

<!-- <i class="fa fa-spinner fa-spin loading"></i>
<i class="fa fa-cog show-settings"></i>
 -->

<div class="graph"></div>


<!--
<span class="close"><i class="fa fa-close"></i> Remove layer</span>
 -->

<div class="settings-container"></div>
<div class="legend"></div>

<!--
<% if (meta.settingsSelected) { %>
    <div class="settings-selected">
        <h5>Selected</h5>
        <strong><%= meta.settingsSelected.name %></strong>
        <% if (meta.settingsSelected.value) { %>
            <div class=""><%= meta.settingsSelected.answer %></div>
        <% } %>
        <div class="show-settings"><i class="fa fa-cog"></i>Change</div>
    </div>
<% } %>
-->
