<h4 class="show-settings">
  <span class="toggle-layer" style="color: <%= meta.color %>;">
      <i class="fa fa-check-square-o selected"></i>
      <i class="fa fa-square-o deselected"></i>
  </span>
  <span class="title">
    <%= name %>
    <% if (meta.count) { %>
      (<%= meta.count %>)
    <% } %>
    <span class="control-arrow"><i class="fa fa-angle-right"></i></span>
  </span>
</h4>

<% if (meta.exploreButton) { %>
<button class="flex mini show-settings">
  Explore results
  <span class="control-arrow"><i class="fa fa-angle-right"></i></span>
</button>
<% } %>


<% if (meta.staticLegend) { %>
<div class="static-legend">
  <%= meta.staticLegend %>
</div>
<% } %>

<div class="graph"></div>

<!--
<span class="close"><i class="fa fa-close"></i> Remove layer</span>
 -->

<div class="settings-container"></div>
<div class="legend"></div>
