<div id="project" class="out">
  <div class="c nomargin">

    <div class="layers">
      <a class="button">Add data layer <i class="fa fa-chevron-right"></i></a>

      <div class="layer layer-permits">
        <h3>Street Use Permits</h3>
        <div class="graph"></div>
        <div id="slider"></div>
        <div id="legend"></div>
      </div>

      <div class="layer layer-money">
        <h3><a class="toggle"><i class="icon ion-ios7-eye"></i></a> Median Income</h3>
      </div>

      <div class="layer layer-transit">
        <h3><a class="toggle"><i class="icon ion-ios7-pause"></i></a> Live Bus Data</h3>
      </div>
    </div>
  </div>

  <div class="b nomargin">
    <div id="project-map"></div>
  </div>
</div>
