<div id="project" class="out">
  <div class="c nomargin">

    <div class="layers">
      <a class="button show-data-selector">Add data layer <i class="fa fa-chevron-right"></i></a>

      <!--
      <strong>Date range</strong>
      <div class="startend"><span class="start"></span> - <span class="end"></span></div>
      <div id="slider-range"></div>
      -->

<!--       <div class="layer layer-permits">
        <h3>Street Use Permits</h3>
        <div class="graph"></div>
        <div id="slider"></div>
        <div id="legend"></div>
      </div>

      <div class="layer layer-money">
        <h3><a class="toggle"><i class="icon ion-ios7-eye"></i></a> Median Income</h3>
      </div>

      <div class="layer layer-transit">
        <h3><a class="toggle"><i class="icon ion-ios7-pause"></i></a> Live Bus Data</h3>
      </div>
 -->
    </div>
  </div>

  <div class="b nomargin">


    <div id="map-tools" class="datatools">
        <a href="" class="selected" id="map-btn"><i class="fa fa-map-marker"></i> Map</a>
        <a href="" id="table-btn"><i class="fa fa-table"></i> Table</a>
        <a href=""><i class="fa fa-area-chart"></i> Charts</a>

        <span class="right">
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#" id="export-btn"><i class="fa fa-download"></i> Export data</a>
        </span>
        <!--
        <input type="text" id="address-search" placeholder="Address">
        <button class="mini flex save address-search-button">Search</button>
        <span class="error"></span>
        -->
    </div>
    <div id="project-map"></div>
    <div id="project-table"></div>
  </div>
</div>
