<div id="table" class="project-table">
  <div class="title">Bicycle, Pedestrian, and Social for Mission Bay</div>

  <div class="section">
    <div class="category">Bicycle Counts</div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Number of Bicycles</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < bikeCounts.length; i += 1) { %>
        <tr>
          <td><%= bikeCounts[i].date %></td>
          <td><%= bikeCounts[i].count %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="section">
    <div class="category">Pedestrian Counts</div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Number of Pedestrians</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < pedestrian.length; i += 1) { %>
        <tr>
          <td><%= pedestrian[i].date %></td>
          <td><%= pedestrian[i].count %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="section">
    <div class="category">Checkins</div>
    <table>
      <thead>
        <tr>
          <th>Location</th>
          <th>Number of checkins</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < social.length; i += 1) { %>
        <tr>
          <td><%= social[i].location %></td>
          <td><%= social[i].count %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

</div>
