<div id="table" class="project-table">
  <div class="title">Warriors Stadium Feasibility Study</div>
  <div class="section">
    <div class="category">Social Media</div>
    <div class="entry">
      <span class="name">Density</span> <span class="value">50,000 interactions/sq mi</span>
    </div>
  </div>
  <div class="section">
    <div class="category">Pedestrian Counts - Northwest crossing</div>
    <div class="entry">
      <div class="name">Average daily count</div> <div class="value">3,872 crossings</div>
    </div>
    <div class="entry">
      <div class="name">Minimum daily count</div> <div class="value">1,420 crossings</div>
    </div>
    <div class="entry">
      <div class="name">Maximum daily count</div> <div class="value">5,517 crossings</div>
    </div>
  </div>

  <div class="section">
    <div class="category">Pedestrian Counts - South crossing</div>
    <div class="entry">
      <div class="name">Average daily count</div> <div class="value">2,711 crossings</div>
    </div>
    <div class="entry">
      <div class="name">Minimum daily count</div> <div class="value">820 crossings</div>
    </div>
    <div class="entry">
      <div class="name">Maximum daily count</div> <div class="value">3,284 crossings</div>
    </div>
  </div>

</div>
