/* LocalData Styles .........................................................*/
html, body {
  padding:0;
  margin:0;
}

body {
  background:#39abb7 url('../img/tile.gif');
  padding:0;
  color:#333;
  font-family:"Open Sans", "Source Sans Pro", Helvetica, sans-serif;
}

/* Type ....................................................................*/
a {
  text-decoration:none;
  color:#00949b;
  border-bottom:1px solid #00949b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  font-size:24px;
}

/* Forms....................................................................*/
input {
  font-family:"Open Sans", "Source Sans Pro", Helvetica, sans-serif;
  font-size:1em;
}

#map-controls .button {
  font-weight:600;
  letter-spacing:.5px;
  text-transform:uppercase;
  font-size:12px;
}

.button {
  display:block;
  width:auto;
  float:left;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
  -moz-box-shadow: 0 0 16px rgba(0,0,0, 0.25);
  -webkit-box-shadow: 0 0 16px rgba(0,0,0, 0.25);
  margin:20px 8px;
  cursor:pointer;
}

  .button:hover {
    background:#00949b;
    color:#ffe;
    border-color:#00949b;
    -moz-box-shadow: inset 0 0 16px rgba(47, 68, 101, 0.5);
    -webkit-box-shadow: inset 0 0 16px rgba(47, 68, 101, 0.5);
  }

  .button-container {
    overflow:auto;
  }


/* Structure ...............................................................*/

.container {
  padding:20px 30px 20px 30px; 
}

.floatcontainer {
  overflow:auto;
}

#content {
  background:#fff;
  padding:30px;
  -webkit-box-shadow: 0 16px 16px rgba(0, 124, 129, 1);
  box-shadow: 0 6px 16px rgba(0, 124, 129, 1);
}


/* Header ..................................................................*/
header {
  color:#333;
  padding:10px 0;
}

header a {
  color:#333;
  border:0;
}

#site-header {
  font-size:24px;
  background:#fff;
  border-bottom:0px  #a18464;
  padding:15px 30px 15px 40px;
  overflow:auto;
  -webkit-box-shadow: 0 0 16px rgba(0, 124, 129, 1);
  box-shadow: 0 0 16px rgba(0, 124, 129, 1);

}

  #site-header h1 {
    font-weight:400;
    display:inline;
    float:left;
  }

  #topnav {
    font-size:14px;
    float:right;
    padding-top:5px;
  }

  .mysurveys {
    background:#f39379;
    color:#fff;
    padding:4px 8px;
    border-radius:15px;
    margin-right:10px;
  }

#survey-header {
  color:#fefefe;
  font-size:35px;
  padding:20px 0 1px 20px;
}

#site-header .container,
#survey-header .container {
  padding-left:20px;
}

#survey-header h2 {
  font-size:36px;
  font-weight:600;
  text-shadow: 0.08em 0.08em #00949b;
  letter-spacing:1px;
}

/* Nav .....................................................................*/
#subnav {
  background:#eee;
  overflow:auto;
  border:1px solid #fff;
  border-width: 1px 1px 0px 1px;

  -webkit-box-shadow: 0 0 16px rgba(0, 124, 129, 1);
  box-shadow: 0 0 16px rgba(0, 124, 129, 1);
}

  .nav-tabs li {
    color: #666;
    font-size:16px;
    text-align:center;

    list-style:none;
    display:block;
    float:left;
    margin-top:5px;
    padding:18px 35px 20px 35px;
    border:0;
  }

    .nav-tabs li.active {
      background:#fff;
      -webkit-box-shadow: 0 0 7px rgba(0, 124, 129, 0.4);
      box-shadow: 0 0 7px rgba(0, 124, 129, 0.4);
    }

    .nav-tabs li a {
      border: 0;
      color: #666;
    }

    .nav-tabs li.active a {
      color: #ef6d4a;
    }

/* Surveys ...............................................................*/
.survey-list .survey {
  border:1px solid #c7d3e5;
  border-radius:10px;
  padding:20px;
  margin-bottom:20px;
  margin-right:10px;
  color:#ddd;
}

.survey-list h2 {
  font-weight:700;
  font-size:24px;
}

.survey-list h2 a {
  border:0; 
  display:block;
}

.loading {
  text-align:center;
  margin:0px auto;
  width:150px;
  background:#eee;
  border-radius:20px;
  border:2px solid #ddd;
  padding:20px;
}

.loading h2 {
  text-transform: none;

}

/* Filtering .................................................................*/
#filters {
  display:block;
  float:left;
  padding-right:40px;
  max-width:250px;
}

#subfilter li {
  line-height:2;
}

#subfilter li a {
  text-decoration:none;
  color:#fff; 
  background:#3f5b88;
  border-radius:10px;
  font-size:.9em;
  cursor:pointer;
  padding:4px;
}

#indiv-in {
  border:10px solid #ddd;
  padding:10px;
}

/* Responses .................................................................*/

.response-list {
  overflow:auto;
}

  .response-list > h2 {
    text-transform:uppercase;
    font-size:24px;
    font-weight:800;
    color:#96c4b2;
    border-bottom:1px dotted #86bba6;
    text-align:center;
    margin-bottom:10px;
    padding-bottom:10px;
  }

  .response-list table {
    width:100%;
  }

    .response-list thead {
      color: #333;
      border-bottom: 8px solid #b7d6ca;
      padding-top:20px;
    }

    .response-list th {
      font-weight:bold;
      font-size:16px;
      text-align:left;
      padding:20px 10px 10px 10px;
    }

    .response-list .response td {
      padding:7px 15px 15px 10px;
      border-bottom:1px dotted #86bba6;
    }

  .response-list .response .created  {

  }

  .response-list .response h3:before {
    padding-right:10px;
    color:#96c4b2;
  }

  .response-list .address:before,
  .response-list .collector:before {
    color:#bbb;
    padding-right:2px;
  }

.answers {
  margin-top:10px;
}

.key {
  color:#999;
  wwidth:300px;
  wposition:absolute;
  wtext-align:right;
  wleft:-310px;
}

.key, .value {
  margin-bottom:4px;
}

/* Map .....................................................................*/

#map {
  height:300px;
  margin-bottom:20px;
}

#map-controls {
  display:none;
  padding:10px;
  background:#3f5b88;
}

#map-controls a {
  color:#fefefe;
  border-radius:8px;
  padding:0px 5px;
}

#map-controls #address-search {
  background:transparent;
  color:#fefefe;
  border:0;
  border-bottom:1px dotted #fefefe;
  min-width:200px;
  max-width:400px;
}

/*  Note that we can't combine these two rules because they're 
    browser-specific */
#address-search::-webkit-input-placeholder {
    color: #93a9cd;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    line-height:25px;
}

#address-search:-moz-placeholder {
    color: #93a9cd;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    line-height:25px;
}

#map-controls .icon-search:before {
  padding-right:5px; 
}


/* Settings ................................................................*/
#settings-view-container textarea {
  display:block;
  width:90%;
  font-family:Courier New, Courier, monospace;
  font-size:16px;
  height:15em;
}

form input, form label {
  display:block;
}

form label {
  font-weight:bold; 
  margin-top:1em;
}

form input {
  font-size:24px;
}


/* Export ..................................................................*/
.export-block {
  overflow:auto;
  padding:50px;
  width:45%;
}
