/* LocalData Styles .........................................................*/
/*
  Colors
  Link: #00949b
  Link hover: #138288
*/
html, body {
  padding:0;
  margin:0;
}

body {
  background:#39abb7 url('../img/tile.gif');
  padding:0;
  color:#333;
  font-family:"Open Sans", "Source Sans Pro", Helvetica, sans-serif;
}

/* Type ....................................................................*/
a {
  text-decoration:none;
  color:#00949b;
  border-bottom:1px solid #00949b;
}

a:hover {
  text-decoration:none;
  color:#00949b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  font-size:24px;
}

/* Forms....................................................................*/
form h3 {
  margin-top:1em;
}

form .error {
  color:#ef6d4a;
}

.advanced {
  display:none;
}


/* Structure ...............................................................*/

.container {

}

#content,
.main {
  background:#fff;
  padding:30px;
  -webkit-box-shadow: 0 16px 16px rgba(0, 124, 129, 1);
  box-shadow: 0 6px 16px rgba(0, 124, 129, 1);
}

.tab {
  display:none;
}

/* Header ..................................................................*/
header {
  color:#333;
  padding:10px 0;
}

header a {
  color:#333;
  border:0;
}

#site-header {
  background:#fff;
  border-bottom:1px #a18464;
  padding:0px 30px 0px 20px;
  margin-bottom:0;
}

  #site-header h1 {
    font-size:24px;
    font-weight:400;
    display:inline;
    float:left;
  }

  #site-header .tools {
    text-align:right;
    margin-top:15px;
  }

  #site-header .tools a {
    border: 0px none;
  }

  #site-header h1 a {
    color:#333;
    border:0px none;
  }

  #topnav {
    font-size:14px;
    float:right;
  }

    .mysurveys {
      background:#f39379;
      padding:4px 12px 4px 12px;
      border-radius:15px;
      color:#fff;
      line-height:20px;
    }

    #userbar-container {
      display:none;
    }

      .userbar {
        display:inline-block;
        color:#fff;
        padding:4px 12px 4px 14px;
        border-radius:15px;
        margin-right:10px;
        background:#666;
        line-height:20px;
      }


.survey-header h2 {
  color:#fefefe;
  font-size:36px;
  font-weight:600;
  letter-spacing:1px;
  padding:20px;
}


/* Nav .....................................................................*/
#nav {
  background:#fff;
  border-width: 1px 1px 0 1px;
}

  .nav-tabs li {
    color: #666;
    font-size:16px;
    text-align:center;
    border:0px none;
  }

    .nav-tabs li.active {
      background:#fff;

      -webkit-box-shadow: 0 0 7px rgba(0, 124, 129, 0.4);
      -mozbox-shadow: 0 0 7px rgba(0, 124, 129, 0.4);
      box-shadow: 0 0 7px rgba(0, 124, 129, 0.4);
    }

    .nav-tabs li a,
    .nav-tabs li a:hover {
      cursor:pointer;
      border: 0px none;
      color: #666;
    }

    .nav-tabs li.active a,
    .nav-tabs li.active a:hover {
      color: #ef6d4a;
      border:0px none;
    }

/* Subnav .................................................................. */
.subnav {
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:1px solid #ddd;
  overflow:auto;
  line-height:30px;
}

  .subnav li {
    display:inline-block;
    float:left;
    margin-right:15px;
  }

  .subnav a {
    cursor: pointer;
    background:#39abb7;
    color:#fff;
    padding:4px 8px;
    border-radius:15px;
    margin-right:5px;
    border:0px none;
  }


/* Login ................................................................... */
#login {
  border-right: 1px dotted #ddd;
}

/* Surveys ................................................................. */
.survey-list .survey {
  border:1px solid #c7d3e5;
  border-radius:10px;
  padding:20px;
  margin-bottom:20px;
  margin-right:10px;
  color:#ddd;
}

.survey-list h2 {
  font-weight:700;
  font-size:24px;
}

.survey-list h2 a {
  border:0;
  display:block;
}

.loading {
  text-align:center;
  margin:0px auto;
  width:150px;
  background:#eee;
  border-radius:20px;
  border:2px solid #ddd;
  padding:20px;
}

.loading h2 {
  text-transform: none;

}

/* Filtering .................................................................*/
#subfilter h2 {
  font-size:16px;
}

#subfilter ul {
  margin-left: 0;
}

#subfilter li {
  list-style:none;
  line-height:2;
  border-bottom: 1px solid #ddd;
}

  #subfilter li a {
    text-decoration:none;
    border:0px none;
    font-size:.9em;
    cursor:pointer;
    padding:4px;
  }

  #subfilter li a.selected {
    color:red;
  }

/* Responses .................................................................*/

.response-list {
  overflow:auto;
}

  .response-list > h2 {
    text-transform:uppercase;
    font-size:24px;
    font-weight:800;
    color:#96c4b2;
    border-bottom:1px dotted #86bba6;
    text-align:center;
    margin-bottom:10px;
    padding-bottom:10px;
  }

  .response {
    border-bottom:1px dotted #86bba6;
    margin-bottom:10px;
    padding-bottom:10px;
  }

  .response h2 {
    font-size:16px;
    font-weight:600;
    line-height:1;
  }

  .response .created,
  .response .collector  {
    color: #589c81;
  }

  .response i {
    color:#999;
  }

  .response img {
    display:block;
    margin:10px 0;
    width:100%;
  }

.answers {
  margin-top:10px;
}

.key {
  color:#999;
  wwidth:300px;
  wposition:absolute;
  wtext-align:right;
  wleft:-310px;
}

.key, .value {
  margin-bottom:4px;
}

/* Map .....................................................................*/

#map {
  height:800px;
  margin-bottom:20px;
}

#map-controls {
  display:none;
  padding:10px;
  background:#3f5b88;
}

  #map-controls a {
    color:#fefefe;
    border-radius:8px;
    padding:0px 5px;
  }

  #map-controls #address-search {
    background:transparent;
    color:#fefefe;
    border:0;
    border-bottom:1px dotted #fefefe;
    min-width:200px;
    max-width:400px;
  }

  #map-controls .icon-search:before {
    padding-right:5px;
  }

.leaflet-control-attribution {
  display:none;
}

/*  Note that we can't combine these two rules because they're
    browser-specific */
#address-search::-webkit-input-placeholder {
    color: #93a9cd;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    line-height:25px;
}

#address-search:-moz-placeholder {
    color: #93a9cd;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    line-height:25px;
}



/* Settings ................................................................*/
#settings-view-container textarea {
  display:block;
  width:90%;
  font-family:Courier New, Courier, monospace;
  font-size:16px;
  height:15em;
}

#settings-view-container #preview-view-container {
}

#send-survey-container {

}

  #send-survey-container h3 {
    margin-bottom:10px;
  }

  #send-survey-container p {
    margin-bottom:1.2em;
  }


/* Export ..................................................................*/
.export-block {
  overflow:auto;
  padding:50px;
  width:45%;
}


/* New survey ..............................................................*/
#newsurvey {
  font-size:16px;
  border:0px none;
  text-shadow:none;
  font-weight:normal;
  letter-spacing: 0;
}

#survey-header.new-survey h2 {
  text-align:center;
}


/* Builder .................................................................*/
#new-survey-form {
    width:400px;
    border: 1px solid #39abb7;
    border-radius: 10px;
    padding:20px;
    margin:0px auto;
    margin-top:-20px;

    -moz-box-shadow: inset 0 0 24px rgba(0, 148,155, 0.5);
    -webkit-box-shadow: inset 0 0 24px rgba(0, 148,155, 0.5);
    box-shadow: inset 0 0 24px rgba(0, 148,155, 0.5);

    background:#fff;
}

  #new-survey-form input[type='text'] {
    margin-bottom:10px;
    width:350px;
  }

.survey-designer {

}

  .survey-designer p {
    text-align: center;
  }

  .survey-designer h2 {
    text-align:center;
    font-size:3em;
  }

  .survey-designer h2.getting-started {
    font-size:1em;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:1px;
    color:#ef6d4a;
  }

  .survey-designer h3 {
    text-align:center;
    font-size:2em;
  }

  .survey-designer .advanced {
    text-align:center;
  }

.choice-boxes {
  text-align:center;
  padding: 20px 0;
}

  .choice-box {
    display: inline-block;

    width:250px;
    border: 1px solid #faf6ad;
    border-radius: 10px;
    padding:20px;
    margin:15px;

    -moz-box-shadow: inset 0 0 24px rgba(250, 246, 143, 0.5);
    -webkit-box-shadow: inset 0 0 24px rgba(250, 246, 143, 0.5);
    box-shadow: inset 0 0 24px rgba(250, 246, 143, 0.5);

    text-align:center;

  }
    .choice-box h3 {
      padding-top:10px;
      font-weight:bold;
      font-size:24px;
    }

    .choice-box p {
      font-size:14px;
      line-height:1.2;
      text-align:left;
      margin-top:10px;
    }

    .choice-box .time-estimate {
      padding-top:20px;
      padding-bottom:5px;
      text-align:center;
      color:#666;
    }

/* Editor ....................................................................*/
#builder-view-container {
}

  #builder-view-container .done {
    float:right;
  }

  .editor .question-input {
    font-weight:600;
  }

  .eeditor .question,
  .eeditor .answers {
    border-bottom:1px dotted #ddd;
  }
    .editor .question {
      padding:10px 0 0 10px;
    }

      .editor .question .title {
        text-transform: uppercase;
        font-size:.9em;
        color:#999;
        margin-top:10px;
        margin-bottom:0;
        padding:10px 0 0 25px;
        border-top:1px dotted #ddd;
      }

    .question .question {
      margin-left:20px;
    }

  .editor .answers,
  .editor .question-tools-container {
    padding:0 0 0 20px;
  }

    .editor .remove {
      color: #db6a6e;
    }

  .input-append {
    display:block;
  }

/* Toolbar ...................................................................*/
.saved {
    color: #8db100;
    display: none;
}

.error {
    color: #df455d;
    display: none;
}

.actionbar {

}
  .actionbar div {
    display: inline-block;
  }

  .actionbar .saved {
    color: #8db100;
    display: none;
  }


/* Preview ...................................................................*/

#preview-dimmer {
  background: #fff;
  opacity: 0.95;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

  #preview-dimmer.popup {
    display:block;
  }

#preview {
  padding-bottom: 20px;
  background: #fff;
  width:44%;
  float:left;
}

  #preview.popup {
    flot:none;
    background:#fff;
    display:block;
    padding:10px 0 20px 20px;
    width: 700px;
    position: absolute;
    left: 25%;
    margin:50px auto 50px auto;
    border: 1px solid #eee;
    -moz-box-shadow: 0 0 20px rgba(0,0,0, 0.25);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, 0.25);
    box-shadow: 0 0 20px rgba(0,0,0, 0.25);
  }

  #preview-close {
    display:none;

    height:34px;
    width:34px;
    background:transparent url(../img/icons/close.png) no-repeat center center;
    position:absolute;
    top:-15px;
    left:-15px;
    float:left;
    cursor:pointer;
  }

  #preview.popup #preview-close {
    display:inline;
  }

  #preview-survey-title {
    text-align:center;
  }

    #preview h3 {
      padding: 30px 10px 0px 10px;
    }

  .preview-q-box {
    padding-left: 20px;
  }

  .preview-q-box .depth-0,
  .preview-q-box .depth-1,
  .preview-q-box .depth-2,
  .preview-q-box .depth-3 {
    margin-left: 15px;
  }

  .preview-question {
    border-left: 5px solid #44A9BA;
    padding-left: 10px;
    margin: 5px 5px 20px 5px;
  }

    .question-prompt {
      padding: 5px;
      font-weight: bold;
    }

    .preview-answer {
      padding: 2px 0 2px 20px;
    }

  .condition {
    padding: 5px;
    font-style: italic;
    color: #777;
  }
