<h3><%= name %></h3>

<% _.each(fields, function (field) { %>
  <div class="answer">
    <span class="key">
      <%= field.name %>
    </span>
    <span class="value"><strong><%- field.value %></strong></span>
  </div>
<% }); %>


<% if (raw.publicowne) { %>
  <!-- gtech-specific addon -->
  <% var cases = ['C', 'E', 'H', 'R', 'S', 'U', 'A', 'M']; %>
  <% if ((cases.indexOf(raw.publicowne)) && raw.fairmarket === 0) { %>
    <p style="margin-top:1em"><strong>Interested in working on this lot? <a href="http://www.lotstolove.org/your-lot/get-permission/access/">Click here for more information</a>.</strong></p>
  <% } %>
<% } %>

</div>
