<div class="out contrast">
  <div class="in">
    <h2>Welcome to LocalData</h2>
      <h3>Please choose a new password</h3>

    <div class="a">
      <form id="change-password">
        <input type="text" name="email" placeholder="Your email" class="large">
        <input type="password" name="password" placeholder="Password" class="large">
        <input type="password" name="password-check" placeholder="Password again" class="large">

        <button class="ok">Save</button><span class="error"></span>
      </form>
    </div>
    <div class="b">
    </div>
  </div>
</div>
