<header class="out">
  <div class="in">
    <div class="a">
      <h1>
        <a href="index.html" class="logo"></a>
        <a href="index.html" class="logotype">LocalData</a>
      </h1>
    </div>
    <div class="b">
      <div class="nav">
        <a href="/" class="mysurveys">All Surveys</a>
        <a href="#/surveys/new" class="mysurveys" id="newsurvey">Create a new survey</a>
        <div id="userbar-container"></div>
      </div>
    </div>
  </div>
</header>

<div id="container">
</div>

<footer class="out">
  <div class="in">
    <h1>
      <a href="http://localdata.com/" class="logo"></a>
      <a href="http://localdata.com/" class="logotype">LocalData</a>
    </h1>

    <nav>
      <a href="http://localdata.com/case-muncie">In Action</a>
      <a href="http://localdata.com/about">Our Story</a>
      <a href="http://blog.localdata.com">News</a>
      <a href="http://localdata.com/privacy">Privacy</a>
      <a href="http://localdata.com/signup">Contact</a>

      <span class="social">
        <a href="http://twitter.com/localdata">Twitter</a>
        <a href="http://twitter.com/localdata">GitHub</a>
      </span>
    </nav>
  </div>
</footer>
