<div class="out contrast">
  <div class="in">
    <div class="a">

      <h3>Export your data</h3>


      <div class="button-container">
        <a class="box ok shapefile flex"><span class="icon-globe"></span> <% if (loading) {%>Exporting...<%} else {%>Download Shapefile<%}%></a>
        <a href="<%= baseurl %>/surveys/<%= surveyId %>/responses.csv" class="box ok flex"><span class="icon-table"></span> Download CSV</a>

        <a href="<%= baseurl %>/surveys/<%= surveyId %>/responses.kml" class="box ok flex"><span class="button-in"><span class="icon-globe"></span> Download KML (points) </span></a>
        <div class="error">Error exporting data. Please try again later or contact LocalData for help.</div>

        <!--
        <a href="<%= baseurl %>/surveys/<%= surveyId %>/kml" class="box ok flex"><span class="btn-in"><span class="icon-globe"></span> Download KML (parcels)</span></a>
        -->
      </div>
    </div>
  </div>
</div>
