<div class="out contrast">
  <div class="in">
    <h2>Welcome to LocalData</h2>

    <div class="a">
      <h3>Sign up for an account</h3>
      <form id="register">
        <input type="text" name="name" placeholder="Your name">
        <input type="text" name="email" placeholder="Your email">
        <input type="password" name="password" placeholder="Password">
        <a class="button ok flex">Sign up</a> <span class="error"></span>
      </form>
    </div>
    <div class="b">
    </div>
  </div>
</div>
