<div class="out contrast">
  <div class="in">
    <h2>Welcome to LocalData</h2>

    <div class="a">
      <h3>Sign up for a LocalData Account</h3>
      <form id="register">
        <input type="text" name="name" placeholder="Your name"><br>
        <input type="text" name="email" placeholder="Your email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button class="box ok">Sign up</button><span class="error"></span>
      </form>
    </div>
    <div class="b">
    </div>
  </div>
</div>
