<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 survey-header">
        <h2>Welcome to LocalData</h2>
    </div>
  </div>

  <div class="main">
    <div class="row-fluid">
        <div class="span6">
          <form id="change-password">
            <h2>Please choose a password</h2>
            <input type="text" name="email" placeholder="Your email"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <button class="btn">Choose password</button><span class="error"></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
