<div class="out contrast">
  <div class="in">
    <h2>Welcome to LocalData</h2>
      <h3>Enter your email to reset your password</h3>

    <div class="a">
      <form id="change-password">
        <input type="text" name="email" placeholder="Your email" class="large">

        <button class="ok">Save</button>
        <span class="error"></span>
        <span class="done">Thanks! We've emailed you a link to reset your password.</span>
      </form>
    </div>
    <div class="b">
    </div>
  </div>
</div>
