<div class="response">
  <h2>
    <% if(r.geo_info != undefined) { %>
      <%- r.geo_info.humanReadableName %><br />
    <% }else { %>
      <%- r.parcel_id %>
    <% }; %>
  </h2>

  <div class="collector">
    <i class="icon-user"></i>
    <% if(r.geo_info != undefined) { %>
      <%- r.source.collector %>
    <% } else{ %>
      <%- r.responses.collector %>
    <% } %>
    &nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-time"></i>
    <%- r.createdHumanized %>
  </div>

  <% if(r.files != undefined) { %>
    <% _.each(r.files, function(file){ %>
      <img src="<%= file %>" alt="">
    <% });%>
  <% } %>

  <% _.each(r.responses, function(resp, key) { %>
    <div class="answer">
      <span class="key"><%- key %>:</span>
      <span class="value"><%- resp %>&nbsp;</span>
    </div>
  <% }); %>
  <button class="btn delete"><i class="icon-trash"></i> Delete</button>
</div>
