<div class="out contrast upload-survey">
  <div class="in">
      <h2>Bring your own data</h2>

      <form action="" id="new-survey-form">
        <input type="text" placeholder="Dataset name" name="name"  class="large survey-name">
        <input type="text" placeholder="City and state" name="location" class="large survey-location">
         <button class="submit flex">Next: select data</button>
      </form>
      <div id="upload-area" class="upload-hide">Drag your data here</div>
      <h3 id="upload-processing" class="upload-hide">We're uploading your data.</h3>
      <div id="upload-processing-done" class="upload-hide">
        <h3>Upload complete.</h3>
        <a href="#" id="upload-go-to-surey" class="button ok flex">Go to your data</a>
      </div>

      <div id="upload-errors">
        <h3>We weren't able to import these records</h3>
        <table>
          <tr>
            <th>Address</th>
            <th>Parcel ID</th>
            <th>Reason</th>
          </tr>
        </table>
      </div>
  </div>
</div>
