<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LocalData</title>
    
    <!-- Scripts I couldn't fit into Require yet -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>

    <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || '1f57015c5e8f46bdc07701e1aa74c6cbdf565383';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
    
    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300|Pacifico' rel='stylesheet' type='text/css'>
    
    <style type="text/css" media="screen">
      @import url("css/lib/reset.css");
      @import url("http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css");
      @import url("css/app.css");
    </style>
</head>

<body>
    <!-- Header -->
    <header id="site-header">
        <h1><small><a href="index.html">localdata</a></small></h1>
        <div id="topnav">
          <a href="newsurvey.html">New Survey</a>
          <a href="/" class="mysurveys">All Surveys</a>
          <a href="/logout">Log out</a>
        </div>
    </header>


    <div id="container">
    </div>
    
    <!-- Templates ========================================================-->
    <!-- Home .............................................................-->
    <script type="text/template" id="home">
    
      <div class="container">
        <header id="survey-header">
            <h2>Surveys</h2>
        </header>
      </div>
    
      <div class="container">
      <div id="content">
        <div id="body">
          <div class="survey-list floatcontainer">
          </div>
        </div>   
      </div>
      </div>
    </script>
    
    <script type="text/template" id="loading-view">
      <div class="loading">
        <img src="img/preloader.gif" alt="" />
        <h2>Loading</h2>
      </div>
    </script>


    <!-- Survey ...........................................................-->    
    <script type="text/template" id="survey-view">
      <header id="survey-header">
        <div class="container">
          <h2><%= survey.name %> </h2>
        </div>
      </header>
      

      <div id="body" class="container">
        <div id="subnav" class="nav nav-tabs"></div>

        <div id="content">
          <div id="loading-view-container"></div>
          <div id="response-view-container"></div>   
          <div id="settings-view-container"></div>
          <div id="export-view-container"></div>
        </div>
      </div>   
    </script>

    <script type="text/template" id="survey-list-item-view">
      <div class="survey">
        <h2><a href='#surveys/<%= survey.attributes.slug %>'><%= survey.attributes.name %></a></h2>
        <%= survey.attributes.id %>
      </div>
    </script>

    <script type="text/template" id="settings-view">
      <h2>Survey Settings</h2>

      <!--
      <form>
        <label>Survey Name</label>
        <input type="text" value="<%= survey.name %>" />

        <label>Passcode</label>
        <input type="text" value="<%= survey.passcode %>" id="survey-password" />

        <input type="submit" value="Save">
      </form>
      -->
    </script>
    

    <!-- Response ...........................................................-->
    <script type="text/template" id="filter-results">
    <h2>Select an answer to filter by:</h2>
    <ul>
      <% _.each(choices, function(choice) { %>
        <li><a><%- choice %></a></li>
      <% }); %>
    </ul>
    </script>
    
    <script type="text/template" id="response-view">

      <div id="filters">
        <div id="current-filter" class="floatcontainer"></div>
        <div id="subfilter">
        </div>
      </div>
      
      <div class="response-list">  
      <h3>Filter results by:</h3>

      <select id="filter">
        <option value="">Select a question to filter by</option>
      <% _.each(flattenedForm, function(filter) {%>
        <option value="<%- filter.name %>"><%- filter.text %></option>
      <% }); %>
      </select>


      <h2><%= _.size(responses) %> Response<% if(_.size(responses) != 1) { %>s<% } %></h2>

      <div id="map-view-container"></div> 

      <div id="individual-result-container"></div>  

      <table>
        <thead>
          <tr>
            <th>Time</th>
            <th>Location</th>
            <th>By</th>
            <th>Data</th>
          </tr>
        </thead>
            
        <tbody>
        <% _.each(responses, function(r) { %>
          <tr class="response">
            <td class="created"><%- r.createdHumanized %></td>
            <td class="address icon-map-marker">
              <% if(r.geo_info != undefined) { %>
                <%- r.geo_info.humanReadableName %><br />
                (Id: <%- r.parcel_id %>)
              <% }else { %>
                <%- r.parcel_id %>
              <% }; %>
            </td>
            <td class="collector icon-user">
              <% if(r.geo_info != undefined) { %>
                <%- r.source.collector %>
              <% } else{ %>
                <%- r.responses.collector %>
              <% } %>
            </td>
          
            <td class="answers">
            <% _.each(r.responses, function(resp, key) { %>
              <div class="answer">
                <span class="key"><%- key %>:</span> 
                <span class="value"><%- resp %>&nbsp;</span>
              </div>
            <% }); %>
            </td>
          </tr>
        
        <% }); %>
        </tbody>
      </table>
      
      </div>
      
      <div id="result-pagination"></div>
    </script>

    <script type="text/template" id="indivdual-result">
    <div id="indiv-in">
      <table>
        <thead>
          <tr>
            <th>Time</th>
            <th>Location</th>
            <th>By</th>
            <th>Data</th>
          </tr>
        </thead>
            
        <tbody>
          <tr class="response">
            <td class="created"><%- r.createdHumanized %></td>
            <td class="address icon-map-marker">
              <% if(r.geo_info != undefined) { %>
                <%- r.geo_info.humanReadableName %>
              <% }else { %>
                <%- r.parcel_id %>
              <% }; %>
            </td>
            <td class="collector icon-user">
              <% if(r.geo_info != undefined) { %>
                <%- r.source.collector %>
              <% } else{ %>
                <%- r.responses.collector %>
              <% } %>
            </td>
          
            <td class="answers">
            <% _.each(r.responses, function(resp, key) { %>
              <div class="answer">
                <span class="key"><%- key %>:</span> 
                <span class="value"><%- resp %>&nbsp;</span>
              </div>
            <% }); %>
            </td>
          </tr>
        </tbody>
      </table>

      <a href="" class="close button">Close</a>
    </div>
    </script>
    
    
    <!-- Map ..............................................................-->
    <script type="text/template" id="map-view">
      <div id="map-controls">
        <input type="text" id="address-search" placeholder="address">
        <a href="" class="button icon-search">Jump to address</a>
      </div>
      <div id="map">Map here</div>
      <div id="parceldeets"></div>
    </script>
    
    <!-- Export ...........................................................-->
    <script type="text/template" id="export-view">
      <h3>Export your data</h3>
      <div class="button-container">
        <a href="<%= baseurl %>/surveys/<%= surveyId %>/csv" class="button"><span class="icon-table"></span> Download CSV</a>
        
        <a href="<%= baseurl %>/surveys/<%= surveyId %>/kml" class="button"><span class="button-in"><span class="icon-globe"></span> Download KML (points) </span></a>
        
        <!--
        <a href="<%= baseurl %>/surveys/<%= surveyId %>/kml" class="button"><span class="button-in"><span class="icon-globe"></span> Download KML (parcels)</span></a>
        -->
      </div>
    </script>
    
    
    <!-- Upload ...........................................................-->
    <script type="text/template" id="upload-view">
      <h3>Upload scanned paper forms</h3>
      
      <p>When you&apos;ve scanned in the paper forms, you can upload them here.</p>
      <p>Either click the button and select the files, or drag and drop them right onto the page!</p>
      <div id="file-uploader"></div>
      <div class="drop-area"></div>
    </script>

    
    <!-- Scan .............................................................-->
    <script type="text/template" id="scan-view">
      <h3>Scanned forms</h3>
      <ul>
        <% _.each(scans, function(scan) {  %>
          <li>
            <%= scan.filename %>
            <span class="label"><%= scan.status %></span>
            <%= scan.created %>
          </li>
        <% }); %>
      </ul>
    </script>
    
    <!-- Subnav ...........................................................-->
    <script type="text/template" id="subnav-view">
    <% _.each(items, function(item) {  %>
      <li class="<%= item.active %>"><a href="#<%= item.fragment %>"><span class="<%= item.icon %>"></span><%= item.title %></a></li>
    <% }); %>
    </script>
    
    <!-- Pagination .......................................................-->
    <script type="text/template" id="pagination-view">
      <!--<div class="pagination">
        <ul>
          <li><a href="#">Prev</a></li>          
          <% _.each(_.range(1, pageCount + 1), function(page) { %>
            <li class="pagination-item"><a href=""><%= page %></a></li>
          <% }); %>
          <li><a href="#">Next</a></li>
        </ul>
      </div>-->
    </script>
             
    <script src="js/require.js"></script>
    <script>
      require(['./js/common'], function (common) {
          //js/common sets the baseUrl to be js/ so
          //can just ask for 'main' here instead
          //of 'js/main'
          require(['main']);
      });
    </script>
</body>
</html>
