<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300|Pacifico' rel='stylesheet' type='text/css'>
    
    <style type="text/css" media="screen">
      /*@import url("css/bootstrap.min.css");
      @import url("css/bootstrap-responsive.min.css");*/
      @import url("css/reset.css");
      @import url("http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css");
      @import url("css/font-awesome.css");
      @import url("css/app.css");
    </style>
</head>

<body>
    <!-- Header -->
    <header id="site-header">
      <div class="container">
        <h1><small><a href="index.html">localdata</a></small></h1>
      </div>
    </header>

    <div id="container">
    </div>
    
    <!-- Core scripts -->
    <script type="text/javascript" src="js/lib/jquery-1.7.1.js"></script>    
    <script type="text/javascript" src="js/lib/underscore.js"></script>    
    <script type="text/javascript" src="js/lib/backbone.js"></script>
    <script type="text/javascript" src="js/lib/backbone.paginator.js"></script>
    <script type="text/javascript" src="js/lib/fileuploader.js"></script>
    <script type="text/javascript" src="js/lib/moment.min.js"></script>
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
  	
    <script type="text/javascript" src="js/lib/leaflet/leaflet.google.js"></script>

    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/settings.js"></script>
    <script type="text/javascript" src="js/api.js"></script>
    
    <!-- Templates ========================================================-->
    <!-- Home .............................................................-->
    <script type="text/template" id="home">
    
      <header id="survey-header">
        <div class="container">
          <h2>Surveys</h2>
        </div>
      </header>
    
      <div id="content" class="container">
        <div id="body">
        <div class="survey-list floatcontainer">
          <% _.each(surveys, function(d) { %>
            <div class="survey">
              <h2><a href='#surveys/<%= d.id %>'><%= d.name %></a> </h2>
            </div>
          <% }); %>
        </div>
        </div>   
      </div>
    </script>
    
    <!-- Survey view ......................................................-->
    <script type="text/template" id="survey-view">
      <header id="survey-header">
        <div class="container">
          <h2><%= survey.name %> </h2>
        </div>
      </header>
      
      <div id="content" class="container">
        <div id="subnav" class="nav nav-tabs">
        </div>
      
        <div id="body">
        </div>   
      </div>   
    </script>
    
    <!-- Response .........................................................-->
    <script type="text/template" id="response-view">
      <div class="response-list">  
      <h2>Responses</h2>
      
      <% _.each(responses, function(r) { %>
        <div class="response">
          <h3 class="icon-plus-sign"><%= r.source.collector %></h3>
          <span class="created"><%= r.createdHumanized %></span>
          
          <!--
          <% _.each(r.responses, function(key, resp) { %>
            <td><%= resp %></td>
          <% }); %>
          -->
        </tr>
        </div>
        
      <% }); %>
      </div>
      
      <div id="result-pagination"></div>
    </script>
    
    
    <!-- Map ..............................................................-->
    <script type="text/template" id="map-view">
      <div id="map">Map here</div>
    </script>
    
    <!-- Upload ...........................................................-->
    <script type="text/template" id="upload-view">
      <h3>Upload scanned paper forms</h3>
      
      <p>When you've scanned in the paper forms, you can upload them here.</p>
      <p>Either click the button and select the files, or drag and drop them right onto the page!</p>
      <div id="file-uploader"></div>
      <div class="drop-area"></div>
    </script>
    
    <!-- Scan .............................................................-->
    <script type="text/template" id="scan-view">
      <h3>Scanned forms</h3>
      <ul>
        <% _.each(scans, function(scan) {  %>
          <li>
            <%= scan.filename %>
            <span class="label"><%= scan.status %></span>
            <%= scan.created %>
          </li>
        <% }); %>
      </ul>
    </script>
    
    <!-- Subnav ...........................................................-->
    <script type="text/template" id="subnav-view">
    <% _.each(items, function(item) {  %>
      <li class="<%= item.active %> <%= item.icon %>"><a href="#<%= item.fragment %>"><%= item.title %></a></li>
    <% }); %>
    </script>
    
    <!-- Pagination .......................................................-->
    <script type="text/template" id="pagination-view">
      <div class="pagination">
        <ul>
          <li><a href="#">Prev</a></li>          
          <% _.each(_.range(1, pageCount + 1), function(page) { %>
            <li class="pagination-item"><a href=""><%= page %></a></li>
          <% }); %>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
    </script>
         
    <!-- Models & router -->
    <script type="text/javascript" src="js/models/surveys.js"></script>
    <script type="text/javascript" src="js/models/responses.js"></script>
    <script type="text/javascript" src="js/models/scans.js"></script>
    <script type="text/javascript" src="js/routers/index.js"></script>
    
    <!-- Views -->
    <script type="text/javascript" src="js/views/home.js"></script>
    <script type="text/javascript" src="js/views/nav_view.js"></script>
    <script type="text/javascript" src="js/views/survey_view.js"></script>
    <script type="text/javascript" src="js/views/response_view.js"></script>
    <script type="text/javascript" src="js/views/pagination_view.js"></script>
    <script type="text/javascript" src="js/views/upload_view.js"></script>
    <script type="text/javascript" src="js/views/scan_view.js"></script>
    <script type="text/javascript" src="js/views/map_view.js"></script>

    <!-- Root controls all: start here -->
    <script type="text/javascript" src="js/views/root.js"></script>
    <script type="text/javascript">
        $(function() {
            window.Everything = new NSB.views.Root();
            Everything.startRouting();
        })
    </script>
    
    
</body>
</html>