<div class="">
  <div class="question" data-question="<%- filters.question %>">
    <span class="question-title">
      <%- question.text %>
    </span>
    <span class="toggle"><i class="fa fa-angle-down"></i></span>

    <div class="answers">
      <% _.each(question.answers, function (answer) {%>
        <span class="answer" data-answer="<%- answer.value %>" data-question="<%- name %>">
          <span class="circle" style="background-color: <%- answer.color %>; border-color: <%- answer.color %>;"></span>
          <%- answer.text %> (<%- answer.count %>)
        </span>
      <% }); %>
    </div>
  </div>
</div>

