<div class="filters">
  <div class="filters-in">
    <button href="" class="button mini flex close-settings"><i class="fa fa-close"></i> Close</button>
    <button href="" class="button mini flex clear">Clear filters</button>

    <div class="date-filters filter">
      <h3>
        Filter by date
        <select id="datefilter">
          <option value="all">All responses</option>
          <option value="hour">Past hour</option>
          <option value="today">Today</option>
          <option value="week">Past 7 days</option>
          <!-- <option value="other">Custom range</option> -->
        </select>

      </h3>
    </div>

    <div class="question-filters filter"></div>
    <div class="questions">
      <!-- <strong class="clear">Show all repsonses</strong>-->

      <div class="select">Select a question</div>

      <div class="options">
      <% _.each(_.keys(questions), function (name) {%>
        <% if(! _.has(questions, name)) { return; } %>
        <div class="question" data-question="<%- name %>">
          <span class="question-title"><%- questions[name].text %></span>
          <span class="toggle"><i class="fa fa-angle-down"></i></span>

          <div class="answers">
            <% _.each(questions[name].answers, function (answer) {%>
              <span class="answer" data-answer="<%- answer.value %>" data-question="<%- name %>" style="background-color: <%- answer.color %>; border-color: <%- answer.color %>; ">
                <%- answer.text %> (<%- answer.count %>)
              </span>
            <% }); %>
          </div>
        </div>

      <% }); %>
      </div>
    </div>

  </div>
</div>





