<div class="section">
  <div class="category"><%= survey.name %></div>

  <table>
  <% _.each(_.keys(stats.questions), function (name) {%>
    <% if(! _.has(questions, name)) { return; } %>

    <thead>
      <tr>
        <th colspan="2"><%- questions[name].text %></th>
      </tr>
    </thead>

    <tbody>
        <% _.each(questions[name].answers, function (answer) {%>
        <tr>
          <td><%- answer.text %></td>
          <td><%- answer.count %></td>
        </tr>
        <% }); %>
    </tbody>
  <% }); %>
  </table>
</div>
