<div data-role="answer" class="input-append">
  <span class="add-on add-on-light">
    <% if(question.type !== 'checkbox') { %>
      <i class=" fa fa-circle-o" title="Select one choice. Good for ranking and yes-no questions."></i>

    <% }else {  %>
      <i class=" fa fa-check-square-o" title="Select one choice. Use when several answers may apply."></i>
    <% }  %>
  </span>
  <input type="text" value="<%= text %>">
  <a class="btn remove"><i class="fa fa-trash-o"></i></a>
  <a class="btn show-add-sub-question"><i class="fa fa-sitemap"></i><span> Add sub-question</span></a>
  <div class="question-choices">
    <div class="choice add-sub-question" data-type="radio-question">
      <span class="title">
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-circle-o"></i> Select one
      </span>
      Use when only one answer applies.
      <span class="example"> Example: Rank the condition of this property.</span>
    </div>
    <div class="choice add-sub-question" data-type="checkbox-question">
      <span class="title">
        <i class="fa fa-check-square-o"></i>
        <i class="fa fa-check-square-o"></i> Select multiple
      </span>
      Use when several answers may apply.
      <span class="example">Example: Select problems that apply to this building.</span>
    </div>
    <div class="choice add-sub-question" data-type="text-question">
      <span class="title"><i class="fa fa-edit"></i> Text field</span>
      Add notes or other details.
    </div>
    <div class="choice add-sub-question" data-type="file-question">
      <span class="title"><i class="fa fa-camera"></i> Photo upload</span>
      Prompts surveyors to add a photo
    </div>
    <div class="choice close-add-sub-question">
      <span class="title"><i class="fa fa-times"></i> Cancel</span>
    </div>
  </div>

</div>