<div class="out contrast">
  <div class="in">
    <h3>What kind of survey are you planning?</h3>
    <div class="tabs">
      <div class="t">Select a customizable template</div>
      <div class="t contrast use-blank-survey">or build your own <i class="fa fa-chevron-right" style="float: right;"></i></div>
    </div>
  </div>
</div>

<div class="out contrast gray">
  <div class="in">
    <div class="survey-designer">
      <div class="choice-boxes floatcontainer">
        <div class="choice-box-wrap">
          <div class="choice-box">
            <h3>Standard neigbhorhood survey</h3>
            <p class="time-estimate"><i class="fa fa-clock-o"></i> About 1 minute per property</p>

            <p>Asks basic questions about condition, vacancy and other factors. Quick and informative.</p>
          </div>
    <!--       <button class="preview flex">Preview survey</button>
     -->      <button class="use-survey flex">Use this survey</button>
        </div>


        <div class="choice-box-wrap">
          <div class="choice-box">
            <h3>Comprehensive neighborhood survey</h3>
            <p class="time-estimate"><i class="fa fa-clock-o"></i> About 4 minutes per property</p>

            <p>Collect detailed information about condition, use, vacancy, and more. Takes longer to complete.</p>
          </div>
          <button class="btn disabled flex" disabled>Coming soon</button>
        </div>

        <div class="choice-box-wrap">
          <div class="choice-box">
            <h3>Neighborhood<br> asset<br> survey</h3>
            <p class="time-estimate"><i class="fa fa-clock-o"></i> About 2 minutes per property</p>

            <p>Map parks, churches, stores, and more.<br><br><br></p>
          </div>
          <button class="btn disabled flex" disabled>Coming soon</button>
        </div>

        <div class="copy-survey"></div>


      </div>

      <div id="preview-survey-title">
        <h3><%= name %></h3>
      </div>
      <div id="preview-view-container"></div>
    </div>
  </div>
</div>



