<div class="contrast nav-tabs">
  <ul id="nav" class="nav">
    <li class="active" id="tab-survey-home"><a href="#surveys/<%= survey.slug %>"><i class="fa fa-home" data-show="response-view-container"></i> Overview</a></li>
    <li class="active" id="tab-survey-filters"><a href="#surveys/<%= survey.slug %>/dive"><i class="fa fa-map-marker" data-show="response-view-container"></i> Deep Dive</a></li>
    <li class="" id="tab-survey-export" data-show=""><a href="#surveys/<%= survey.slug %>/export" data-show="export-view-container"><i class="fa fa-download"></i> Export</a></li>
    <li class="" id="tab-survey-form"><a href="#surveys/<%= survey.slug %>/form" data-show="form-view-container"><i class="fa fa-list-ul"></i> Questions</a></li>
    <li class="" id="tab-survey-settings"><a href="#surveys/<%= survey.slug %>/settings" data-show="settings-view-container"><i class="fa fa-cog"></i> Settings</a></li>
    <li class="" id="tab-survey-app"><a href="mobile/#<%= survey.slug %>" target="_blank"><i class="fa fa-mobile-phone"></i> Collect Data</a></li>
  </ul>
</div>

<!--
<div class="out contrast survey-head">
  <div class="in">
      <h2 id="survey-name"><%= survey.name %></h2>
  </div>
</div>
-->

<div id="survey-tabs">
  <div id="loading-view-container" class="tab"></div>
  <div id="response-view-container" class="tab"></div>
  <div id="form-view-container" class="tab"></div>
  <div id="export-view-container" class="tab"></div>
  <div id="settings-view-container" class="tab"></div>
</div>
