<div class="filters-in">
  <div class="toolbar">
    <h2>Layer controls</h2>
    <button href="" class="close-settings button mini flex"><i class="fa fa-times"></i> Close</button>
    <button href="" class="button mini flex clear">Clear</button>
  </div>

  <div class="questions">
    <!-- <strong class="clear">Show all repsonses</strong>-->

    <div class="select">Select a question</div>

    <div class="options">
    <% _.each(_.keys(questions), function (name) {%>
      <% if(! _.has(questions, name)) { return; } %>
      <div class="question" data-question="<%- name %>">
        <span class="question-title"><%- questions[name].text %></span>
        <span class="toggle"><i class="fa fa-angle-down"></i></span>

        <div class="answers">
          <% _.each(questions[name].answers, function (answer) {%>
            <div class="answer" data-answer="<%- answer.value %>" data-question="<%- name %>">
              <div class="circle" style="background-color: <%- answer.color %>;"></div>
              <div class="print circle" style="border-color:<%- answer.color %>;"></div>
              <%- answer.text %> (<%- answer.count %>)
            </div>
          <% }); %>
        </div>
      </div>

    <% }); %>
    </div>
  </div>
</div>