/*******************************************************************************
 * _base.scss

 * Base styles define the default look.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/

body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  color: $body-color;
  font-size: 16px;
  line-height: 23px;
}

h1 {
  font-size: 76px;
  line-height: 79px;
  margin-bottom: 35px;
  letter-spacing: -2px;

  span {
    color: $body-accent;
  }

  @media all and (max-width: 768px) {
    font-size: 46px;
    line-height: 45px;
  }

}

h1.logo {
  font-family: $bold;
  font-size: 26px;
  color: #fff;
  margin-bottom: 5px;
}

h2, h3 {
  font-family: $font;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 65px;
  line-height: 1em;
  letter-spacing: -2px;
}

header h2  {
  font-family: $font;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: $body-med;
}

header h2:hover {
  color: $blue;
}

h3 {
  font-size: 40px;
  line-height: 47px;
}

 .a h3,
 .b h3 {
   text-align: left;
 }

p {
  margin-bottom: 1em;
}

strong {
  font-weight: normal;
  font-family: $bold;
}

em {
  font-style: italic;
}

ul {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

li {
  list-style: circle;
  list-style-position: inside;
}

img.responsive {
  max-width: 100%;
}

img.print {
  display: none;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
}

.skiplink {
  line-height: 100px;
}

.print,
.filters .selected .print.circle {
  display: none;
}
