/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/

html,
body {
  margin: 0;
  padding: 0;
}

.out {
  background: #fff;
}

.in {
  width: 1528px;
  margin: 0px auto;
  padding: 50px 0 50px 0;

  @media all and (max-width: 1999px) {
    width: 1112px;
  }

  @media all and (max-width: 1279px) {
    width: 1086px;
  }

  @media all and (max-width: 1119px) {
    width: 866px;
  }

  @media all and (max-width: 899px) {
    width: 708px;
  }

  @media all and (max-width: 768px) {
    width: auto;
    padding: 0 30px;
  }
}

.in:after {
  content: "";
  clear: both;
  display: table;
}

header .in {
  padding-top: 20px;
  padding-bottom: 10px;
}

header .b {
  padding-top: 75px;
}

/*
2000 = 236 708 56 56 708 236 = 1528px center
1280 = 84 500 56 56 500 84 = 1112px center
1120 = 30 500 30 30 500 30 = 1060px center
900 = 30 390 30 30 390 30 = 840px center
769 = 30 324 30 30 390 30 = 708px center
768 = 30 708 30
500 = 30 440 30
320 = 30 260 30 (minimum responsive width)

1200 = 57 500 43 43 500 57 = 1086px center
 */

.a, .b {
  width: 708px;
  margin-right: 56px;

  /* column sizing */
  float:left;

  @media all and (max-width: 1999px) {
    width: 500px;
  }

  @media all and (max-width: 1279px) {
    margin-right: 43px;
  }

  @media all and (max-width: 1119px) {
    margin-right: 30px;
    width: 390px;
  }

  @media all and (max-width: 899px) {
    width: 324px;
  }

  @media all and (max-width: 768px) {
    margin: 0;
    width: auto;
    float:none;
  }
}

.b {
  margin-right: 0;
  margin-left: 56px;

  @media all and (max-width: 1999px) {
    margin-left: 56px;
  }

  @media all and (max-width: 1279px) {
    margin-left: 43px;
  }

  @media all and (max-width: 1119px) {
    margin-left: 30px;
  }


  @media all and (max-width: 768px) {
    margin-left: 30px;
    margin: 0;
    width: auto;
    float: none;
  }
}

/* Same as .b above, but with no margins */
.b.nomargin {
  width: 764px;
  margin: 0;

  /* column sizing */
  float:left;

  @media all and (max-width: 1999px) {
    width: 556px;
    margin: 0;
  }

  @media all and (max-width: 1279px) {
    width: 543px;
    margin: 0;
  }

  @media all and (max-width: 1119px) {
    width: 420px;
    margin: 0;
  }

  @media all and (max-width: 899px) {
    width: 354px;
    margin: 0;
  }

  @media all and (max-width: 768px) {
    margin: 0;
    width: auto;
    float:none;
  }
}

.bigb .a {
  width: 326px;

  /* column sizing */
  float:left;

  @media all and (max-width: 1999px) {
    width: 222px;
  }

  @media all and (max-width: 1279px) {
    width: 229px;
    margin-right: 43px;
  }

  @media all and (max-width: 1119px) {
    margin-right: 30px;
    width: 180px;
  }

  @media all and (max-width: 899px) {
    width: 147px;
  }

  @media all and (max-width: 768px) {
    margin: 0;
    width: auto;
    float:none;
  }}


.bigb .b.nomargin {
  width: 1146px;
  margin: 0;

  /* column sizing */
  float:left;

  @media all and (max-width: 1999px) {
    width: 834px;
    margin: 0;
  }

  @media all and (max-width: 1279px) {
    width: 814px;
    margin: 0;
  }

  @media all and (max-width: 1119px) {
    width: 630px;
    margin: 0;
  }

  @media all and (max-width: 899px) {
    width: 531px;
    margin: 0;
  }

  @media all and (max-width: 768px) {
    margin: 0;
    width: auto;
    float:none;
  }
}

#container {
  min-height: 500px;
}

.contrast {
  background: $pink;
}

.contrast + .contrast .in {
  padding-top: 0;
}

.contrast .rule {
  margin-bottom: 50px;
}

.rule {
  border: 0 none;
  border-bottom: 5px solid $thinpink;
}

.contrast .rule {
  border-bottom: 6px solid #fff;
}


/* Photo header ------------------------------------------------------------- */

.photo {
    background: url(../img/bg4.jpg) no-repeat;
    background-size: 50%;

    @media all and (max-width: 768px) {
      background: none;
      background-size: auto;
    }
}

.photo .in {
  @media all and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.photo .a,
.photo .b {
  @media all and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.photo .a {
  @media all and (max-width: 768px) {
    padding-bottom: 100px;
    margin-bottom: 2em;
    background: transparent url(../img/bg4.jpg) no-repeat;
    background-size: 100%;
  }
}

.demoback {
  background: #f5ebe6;
}

