<div class="out map-list-view multi">
  <div id="overview-container" class="a">
    <div id="responses-list-container">
      <%= description %>
    </div>
    <h3 class="response-count"><span class="count"></span> responses</h3>
  </div>

  <div id="map-view-container" class="nomargin">
    <div id="map"></div>
    <!--
    <div class="map-loading"></div>
    -->
    <div id="info-window" class="responses-list responses"></div>
  </div>

  <form id="map-tools" class="printhide">
      <input type="text" id="address-search" placeholder="Address">
      <button class="mini flex save address-search-button"><i class="fa fa-search"></i></button>
      <span class="error"></span>
  </form>

  <div class="control-pane">
    <div id="deep-dive-count-container"></div>
    <div class="layers"></div>
    <div class="static-layers">
      <h3>Base layers</h3>
    </div>
  </div>
  <div id="filter-view-container" class="settings-container"></div>
</div>

<div class="popup-cover"></div>

<div class="popup">
  <div class="popup-in">
    <h3><%= name %></h3>
    <%= description %>
    <button href="" class="button flex close-popup">Explore the data</button>
  </div>
</div>
