<div class="out map-list-view multi">
    <div class="a">
      <div id="responses-list-container">
        <h3><%= title %></h3>

        <%= description %>
      </div>

      <h3 class="response-count"><span class="count"></span> responses</h3>

      <div class="layers"></div>
    </div>

    <div class="b nomargin">
      <div id="map-view-container">
        <div id="map"></div>
        <div class="map-loading"></div>
      </div>
    </div>

  <!--   <div class="control-pane">
      <div id="response-count-container"></div>
      <form id="map-tools" class="printhide">
          <input type="text" id="address-search" placeholder="Address">
          <button class="mini flex save address-search-button">Search</button>
          <span class="error"></span>
      </form>
      <button href="" class="button mini flex action-show-filters">
        Filter data <i class="fa fa-chevron-right"></i>
      </button>
      <div class="selected-filters"></div>
    </div>
    <div id="filter-view-container"></div>
   -->
 </div>
