<span class="collector">
  <i class="fa fa-user"></i>
  <% if(r.geo_info != undefined) { %>
    <% if(r.source.collector) { %>
      <%- r.source.collector %>
    <% } else { %>
      No name given
    <% } %>
  <% } else { %>
    <%- r.responses.collector %>
  <% } %>
</span>

<span class="time">
  <i class="fa fa-clock-o"></i>
  <%- r.createdHumanized %>
</span>

<% if(r.files != undefined) { %>
  <% _.each(r.files, function(file){ %>
    <img src="<%= file %>" alt="" style="width: 90%" class="response-image">
  <% });%>
<% } %>


<div class="answers">

<% _.each(r.responses, function(resp, key) { %>
  <div class="answer">
    <span class="key">
      <% if(labels[key]) { %>
        <%- labels[key] %>
      <% } else { %>
        <%- key %>
      <% } %>
    </span>
    <span class="value"><strong><%- resp %></strong></span>
  </div>
<% }); %>
</div>

<% if (surveyOptions.loggedIn) { %>}
<div class="response-tools">
  <% if (surveyOptions.showReviewTools) { %>
    <div class="review-tools">
      <% if(r.responses.reviewed === 'flagged') { %>
        <button class="mini ok action-accept flex"><i class="fa fa-check"></i> Accept</button>
        (currently <strong><%= r.responses.reviewed %></strong>)
      <% } else if (r.responses.reviewed === 'accepted') { %>
        <button class="mini danger flex action-flag"><i class="fa fa-flag"></i> Flag</button>
        (currently <strong><%= r.responses.reviewed %></strong>)
      <% } else { %>
        <button class="mini ok action-accept flex"><i class="fa fa-check"></i> Accept</button>
        <button class="mini danger flex action-flag"><i class="fa fa-flag"></i> Flag</button>
      <% } %>
    </div>
  <% } %>

  <button class="mini danger action-show-confirm"><i class="icon-trash"></i> Delete</button>

  <div class="confirm-delete">
    <button class="mini cancel">Cancel</button>
    <button class="mini danger flex action-delete"><i class="icon-trash"></i> Confirm delete</button>
  </div>

  <div class="error">Sorry, there was a problem deleting this record</div>
</div>
<% } %>
