<span class="collector">
  <i class="fa fa-user"></i>
  <% if(r.geo_info != undefined) { %>
    <% if(r.source.collector) { %>
      <%- r.source.collector %>
    <% } else { %>
      No name given
    <% } %>
  <% } else { %>
    <%- r.responses.collector %>
  <% } %>
</span>

<span class="time">
  <i class="fa fa-clock-o"></i>
  <%- r.createdHumanized %>
</span>

<% if(r.files != undefined) { %>
  <% _.each(r.files, function(file){ %>
    <img src="<%= file %>" alt="" style="width: 100%" class="response-image">
  <% });%>
<% } %>


<div class="answers">

<% _.each(_.keys(r.responses).reverse(), function(key) { var resp = r.responses[key]; %>
  <div class="answer">
    <span class="key">
      <% if(labels[key]) { %>
        <%- labels[key] %>
      <% } else { %>
        <%- key %>
      <% } %>
    </span>
    <span class="value"><strong>
      <% if (_.has(questionLabels, key) && _.has(questionLabels[key], resp)) { %>
        <%- questionLabels[key][resp] %>
      <% } else { %>
        <%- resp %>
      <% } %>
    </strong></span>

    <select class="edit" data-question="<%- key %>">
      <% if (form[key]) { %>
        <% _.each(form[key].answers, function(answer) { %>
          <option
            value="<%- answer.value %>"
            <% if (answer.value === resp) { %> selected="selected" <% } %>>
            <%- answer.text %>
          </option>
        <% }); %>
      <% } %>
    </select>

  </div>
<% }); %>
</div>

<% if (surveyOptions.loggedIn) { %>
<div class="response-tools">
  <% if (surveyOptions.showReviewTools) { %>
    <div class="review-tools">
      <% if(r.responses.reviewed === 'flagged') { %>
        <button class="mini ok action-accept flex"><i class="fa fa-check"></i> Accept</button>
        (currently <strong><%= r.responses.reviewed %></strong>)
      <% } else if (r.responses.reviewed === 'accepted') { %>
        <button class="mini danger flex action-flag"><i class="fa fa-flag"></i> Flag</button>
        (currently <strong><%= r.responses.reviewed %></strong>)
      <% } else { %>
        <button class="mini ok action-accept flex"><i class="fa fa-check"></i> Accept</button>
        <button class="mini danger flex action-flag"><i class="fa fa-flag"></i> Flag</button>
      <% } %>
    </div>
  <% } %>

  <button class="mini action-show-edit"><i class="icon-pencil"></i> Edit</button>
  <button class="mini flex action-cancel-edit">Cancel edits</button>
  <button class="mini action-save-edit">Save</button>

  <button class="mini danger action-show-confirm"><i class="icon-trash"></i> Delete</button>

  <div class="confirm-delete">
    <button class="mini cancel">Cancel</button>
    <button class="mini danger flex action-delete"><i class="icon-trash"></i> Confirm delete</button>
  </div>

  <div class="error">Sorry, there was a problem deleting this record</div>
</div>
<% } %>
