
<h4>
  <% if(r.geo_info != undefined) { %>
    <%- r.geo_info.humanReadableName %>
  <% } else { %>
    <%- r.geo_info.object_id %>
  <% } %>
</h4>

<div class="collector">
  <i class="fa fa-user"></i>
  <% if(r.geo_info != undefined) { %>
    <% if(r.source.collector) { %>
      <%- r.source.collector %>
    <% } else { %>
      No name given
    <% } %>
  <% } else { %>
    <%- r.responses.collector %>
  <% } %>
</div>

<div class="time">
  <i class="fa fa-clock-o"></i>
  <%- r.createdHumanized %>
</div>

<% if(r.files != undefined) { %>
  <% _.each(r.files, function(file){ %>
    <img src="<%= file %>" alt="">
  <% });%>
<% } %>

<div class="answers">
<% _.each(r.responses, function(resp, key) { %>
  <div class="answer">
    <span class="key"><strong>
      <% if(labels[key]) { %>
        <%- labels[key] %>
      <% } else { %>
        <%- key %>
      <% } %></strong>
    </span>
    <span class="value"><%- resp %>&nbsp;</span>
  </div>
<% }); %>
</div>

<button class="mini danger confirm"><i class="icon-trash"></i> Delete</button>

<div class="confirm-delete">
  <button class="mini cancel">Cancel</button>
  <button class="mini danger flex delete"><i class="icon-trash"></i> Confirm delete</button>
</div>

<div class="error">Sorry, there was a problem deleting this record</div>
