<div class="out contrast map-list-view">
  <div class="in">
    <div class="c nomargin">
      <div id="filter-view-container"></div>
    </div>
    <div class="b nomargin">


      <!-- experimental !! -->
      <div id="data-select-container">
        <form id="map-tools">
          <strong>Available datasets <i class="fa fa-search"></i></strong>
        </form>

        <div class="dataselect">
          <div class="datanav major">
            <div class="datanav-in">
              <div class="dataset">
              <span>My surveys</span>
              </div>
              <div class="dataset selected">
              <span>Social media <i class="fa fa-chevron-right"></i></span>
              </div>
              <div class="dataset">
              <span>Economic</span>
              </div>
              <div class="dataset">
              <span>Transportation</span>
              </div>
              <div class="dataset">
              <span>Crime &amp; safety</span>
              </div>
            </div>
          </div>

          <div class="datanav">
            <div class="datanav-in">
              <div class="dataset">
              <span>Twitter <i class="fa fa-twitter"></i></span>
              </div>
              <div class="dataset">
              <span>Foursquare <i class="fa fa-foursquare"></i></span>
              </div>
              <div class="dataset selected">
              <span>Instagram <i class="fa fa-chevron-right"></i></span>
              </div>
              <div class="dataset">
              <span>Pinterest <i class="fa fa-pinterest"></i></span>
              </div>
              <div class="dataset">
              <span>Facebook <i class="fa fa-facebook"></i></span>
              </div>
              <div class="dataset">
              <span>Something else</span>
              </div>
              <div class="dataset">
              <span>Weibo</span>
              </div>
            </div>
          </div>



          <div class="datanav details">
            <div class="datanav-in">
              <div class="dataset">
                <strong><i class="fa fa-instagram"></i> Instagram</strong>
                <a class="button">Add data layer <i class="fa fa-plus-circle"></i></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- end experimental -->


      <div id="map-view-container"></div>
    </div>
    <div class="a nomargin">
      <div class="buffer">
        <div id="response-count-container"></div>
        <div id="responses-list-container"></div>
        <!-- <div id="list"></div>-->

        <button class="refresh flex">Check for new results</button>
        <div class="checking">Checking for responses</div>

        <div id="result-pagination"></div>
      </div>
    </div>

  </div>
</div>
