<div class="out contrast map-list-view">
  <div class="in">
    <div class="a">

      <!--       <div id="last-updated"><a href="#" id="refresh" class="btn btn-small"><i class="icon-refresh"></i> Refresh</a></div>
       -->

      <div id="response-count-container">
      </div>

      <button class="refresh flex">Check for new results</button>
      <div class="checking">Checking for responses</div>

      <div id="filter-view-container"></div>
      <div id="responses-list-container"></div>
      <div id="result-pagination"></div>
    </div>

    <div id="map-view-container"></div>
  </div>
</div>
