<div id="map-tools">
    <a href="#" class="selected"><i class="fa fa-map-marker"></i> Map</a>
    <a href="#"><i class="fa fa-table"></i> Table</a>
    <a href="#"><i class="fa fa-area-chart"></i> Charts</a>

    <span class="right">
    <a href="#"><i class="fa fa-search"></i></a>
    <a href="#" id="export-btn"><i class="fa fa-download"></i> Export view</a>
    </span>
    <!--
    <input type="text" id="address-search" placeholder="Address">
    <button class="mini flex save address-search-button">Search</button>
    <span class="error"></span>
    -->
</div>
<div id="map"></div>
<div class="map-loading"></div>
