<div class="out contrast reports">
  <div class="in">

    <div class="report">
        <span class="factoid">
            <span class="number"><%= count %></span>
            total responses
        </span>
    </div>

    <div class="report">
        <div id="chart-user-activity"></div>
        <!--<% _.each(stats.Collectors, function(collector, name) { %>
            <%= name %> <%= collector %>
        <% }); %>-->
    </div>

    <div id="report-top-question"></div>

    <div id="report-list"></div>
  </div>
</div>
