<table>
<thead>
    <tr>
        <th>Location</th>
        <th>Created</th>
        <th>ID</th>
        <% _.each(labels, function(label, key){ %>
            <th><%= label %></th>
        <% }); %>
    </tr>
</thead>

<% _.each(responses, function(response) { %>
    <tr>
        <td><%= response.geo_info.humanReadableName %></td>
        <td><%= response.createdHumanized %></td>
        <td><%= response.object_id %></td>
        <% _.each(labels, function(label, key){ %>
            <td>
                <% if (_.has(response.responses, key)) { %>
                    <%= response.responses[key] %>
                <% }; %>
            </td>
        <% }); %>
    </tr>
<% }); %>
</table>
<div id="result-pagination"></div>
