<!--         <h3>Please stand by.</h3>
        <p>We're loading your deep-dive data.</p>
 -->

<h3>Filter responses</h3>

<div class="questions">

  <% _.each(_.keys(questions), function (name) {%>
    <% if(! _.has(questions, name)) { return; } %>

    <div class="question">
      <label class="" data-question="<%- name %>">
        <div class="circle"></div> <%- questions[name].text %>
      </label>

      <div class="answers">
        <% _.each(questions[name].answers, function (answer) {%>
          <div class="answer" data-answer="<%- answer.value %>" data-question="<%- name %>">
            <div class="circle" style="background-color: <%- answer.color %>"></div> <%- answer.text %> <%- answer.count %>
          </div>
        <% }); %>

        <button href="" class="button mini flex clear">Clear filter</button>
      </div>

    </div>
  <% }); %>
</div>
