<div class="filters">
  <div class="filters-in">

    <div class="toolbar">
      <h2>Layer controls</h2>
      <button href="" class="close-settings button mini flex"><i class="fa fa-times"></i> Close</button>
      <button href="" class="button mini flex clear">Clear</button>
    </div>

<!--     <button href="" class="button mini flex close"><i class="fa fa-chevron-left"></i> Back to the map</button>
    <button href="" class="button mini flex clear">Clear filters</button>
 -->

    <div class="date-filters filter">
      <h3>
        Filter responses after a date:
        <input type="text" id="date-filter-start">
      </h3>
    </div>

    <div class="date-filters filter">
      <h3>
        Filter by collector
        <select id="collectorfilter">
          <option value="all">All responses</option>
          <% _.each(collectors, function(c) { %>
            <option value="<%= c.collector %>"><%= c.collector%> (<%= c.count %>)</option>
          <% }); %>
        </select>

      </h3>
    </div>

    <div class="question-filters filter"></div>
  </div>
</div>

