<h3>Filter responses</h3>

<div class="questions">

  <% _.each(_.keys(questions), function(question) {%>
    <% if(! _.has(questions, question)) { return; } %>

    <div class="question">
      <label class="" data-question="<%- question %>">
        <%- mapping[question] %>
      </label>

      <div class="answers">
        <% _.each(_.keys(questions[question]), function(answer) {%>
          <div class="answer" data-answer="<%- answer %>" data-question="<%- question %>">
            <%- answer %> <%- questions[question][answer].val %>
          </div>
        <% }); %>
      </div>
    </div>
  <% }); %>
</div>
