<div class="filters">
  <div class="filters-in">

    <div class="toolbar">
      <h2>Layer controls</h2>
      <button href="" class="close-settings button mini flex"><i class="fa fa-times"></i> Close</button>
      <button href="" class="button mini flex clear">Clear</button>
    </div>

<!--     <button href="" class="button mini flex close"><i class="fa fa-chevron-left"></i> Back to the map</button>
    <button href="" class="button mini flex clear">Clear filters</button>
 -->

    <div class="date-filters filter">
      <h3>
        Filter by date
        <select id="datefilter">
          <option value="all">All responses</option>
          <option value="hour">Past hour</option>
          <option value="today">Today</option>
          <option value="week">Past 7 days</option>
          <!-- <option value="other">Custom range</option> -->
        </select>

      </h3>
    </div>

    <div class="question-filters filter"></div>
  </div>
</div>

