#filter-view-container {
  display: none;
}

.filters label,
.filters .question {
  cursor: pointer;
}

.filters .question {
}

.filters h3 {
  font-size: 24px;
}

.filters label {
  font-family: $bold;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 32px;
}

.filters .question {
  margin-bottom: 2em;
}

.filters .answers {
  .circle,
  button {
    display: none;
  }
}

.answers button {
  margin-top: 10px;
}

.answer {
  position: relative;
  padding-left: 32px;
  clear: both;
  margin-top: 10px
}

.filters .circle {
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  background: transparent;
}

.filters .selected {
  .circle {
    background: #6e6663;
    display: block;
  }

  .answers button {
    display: block;
  }

}


.filters .circle.inactive {
  background: transparent ! important;
}

