#filter-view-container {
  display: none;
}

.filters {
  .filter {
    margin-bottom: 1em;
  }

  label,
  .question {
    cursor: pointer;
  }

  .question {
  }

  h3 {
    font-size: 24px;
    margin-bottom: 0;
  }

  label {
    font-family: $bold;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 32px;
  }

  .question {
    margin-bottom: 2em;
  }

  .answers {
    .circle,
    button {
      display: none;
    }
  }

  .answers button {
    margin-top: 10px;
  }

  .answer {
    position: relative;
    padding-left: 32px;
    clear: both;
    margin-top: 10px
  }

  .circle {
    position: absolute;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background: transparent;
  }

  .selected {
    .circle {
      background: #6e6663;
      display: block;
    }

    .answers button {
      display: block;
    }
  }

  .circle.inactive {
    background: transparent ! important;
  }
}



