#filter-view-container {
  display: none;
}

.filters {
  background: #0062be;
  color: #fcf5f0;
  padding-top: 10px;

  .toolbar {
    display: block;
  }

  .question,
  .toolbar {
    cursor: pointer;
    padding: 5px 16px;
    ffont-size: 1px;
  }

  .clear {
    cursor: pointer;
    padding: 5px 8px;
    display: none;
    font-family: $font;
  }

  .options {
    ddisplay: none;
    padding-bottom: 8px;
    padding-top: 5px;

    .question {
      border-bottom: 1px dotted $gray;
      mmargin: 5px 8px 8px;
    }
  }

  h3 {
    font-size: 24px;
  }

  .answers {
    margin-bottom: 10px;
    display: none;
    font-size: 16px;

    .answer {
      color: #fff;
      padding: 3px;
      border-width: 4px;
      border-style: solid;
      display: inline-block;
      margin-right: 7px;
      cursor: pointer;
    }

    .answer.active {
      border-color: $yellow !important;
    }
  }

  button {
    margin-top: 10px;
  }

  .circle {
    position: absolute;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background: transparent;
  }

  .selected {
    .circle {
      background: #6e6663;
      display: block;
    }

    .answers button {
      display: block;
    }

  }

  .circle.inactive {
    background: transparent ! important;
  }
}



