
form label {
  font-size: 16px;
  line-height: 20px;
}

form .question {
  font-family: $bold;
}

input {
  font-family: $font;
}

input[type=text],
input[type=password] {
  display: block;
  font-size: 16px;
  color: $body-color;
  border: 4px solid #ccc;
  line-height: 24px;
  padding: 0px 8px;
  margin-bottom: 1.5em;
}

input.large {
  font-family: $bold;
  font-size: 24px;
  padding: 5px 15px;
  border-color: $orange;
}

input.error {
  color: $red;
  border-color: $red;
}

label {
  cursor: pointer;
}

label.radio {
  max-width: 75%;
  display: block;
  margin-bottom: 1em;
}

form input[type=submit] {
  margin-top: 1em;
  cursor: pointer;
  border: 6px solid #58aeff;
  font-family: $font;
  background: #fff;
  width: auto;
  height: auto;
}

form p {
  margin-top: 1em;
  margin-bottom: 0;
}

#login,
#register {
  input[type=text],
  input[type=password] {
    display: block;
    font-size: 26px;
    border: 4px solid $blue;
    line-height: 32px;
    padding: 4px 10px;
    margin-bottom: 1em;
    width: 12em;
  }
}


/* Editor --------------------------------------------------------------------*/
.saved {
  display: none;
}

.editor {
  $editor-base-width: 450px;
  $editor-padding: 30px;
  $editor-border: 2px;
  $editor-total: 0;

  input[type=text] {
    width: $editor-base-width;
    border-width: 0;
    border-bottom-width: 3px;
    background: white;
    border-color: white;
    padding: 5px 15px;
    margin-bottom: 0.5em;
  }

/*
  input[type=text] {
    border-bottom-width: 3px;
    background: $pink;
    border-color: $pin;
    padding: 5px 15px;
    margin-bottom: 0.5em;
  }
 */
  .question input[type=text] {
    width: $editor-base-width;
  }

  .question .answers input[type=text] {
    width: $editor-base-width - $editor-total;
  }

  .question .answers .question input[type=text] {
    width: $editor-base-width - ($editor-total * 2);
  }

  .question .answers .question .answers input[type=text] {
    width: $editor-base-width -  ($editor-total * 3);
  }

  .remove,
  .btn-group {
    display: none;
  }

  .add-on {
    display: inline-block;
    float: left;
    line-height: 40px;
    width: 30px;
    text-align: center;
  }

  input[type=text].question-input {
    font-family: $bold;
    color: $body-color;
    font-size: 16px;
  }

  input:focus {
    outline: none;
    border-color: $orange;
    background: #fff;
  }

  .question {
  }

  .question .question,
  .answers,
  .add-answer {
    border-left: $editor-border solid #fff;
    padding-left: $editor-padding;
  }

  .add-answer {
    cursor: pointer;
  }

  .question .question {
    padding-left: $editor-padding;
  }

}
