header .in {
  overflow: visible;
  padding: 0;
}

header .a,
header .b {
  padding: 0;
}

header h1,
footer h1 {
  position: relative;
  z-index: 100;
  left: -53px;
  display: inline-block;
  height: 50px;
  width: 382px;
  overflow: auto;
  margin-bottom: 0;
}

header .logo,
footer .logo {
  display: inline-block;
  height: 112px;
  width: 112px;
  background: transparent url(../img/logo.png) no-repeat left center;
  background-size: auto 112px;
  text-indent: -99999px;
  float: left;
}

header .logotype,
footer .logotype {
  display: inline-block;
  height: 112px;
  width: 270px;
  background: transparent url(../img/logotype.png) no-repeat left center;
  text-indent: -99999px;
  float: left;
}

header .nav {
  padding-top: 45px;
  text-align: right;
}

header .nav,
header .nav a:link,
header .nav a:visited {
  font-family: $bold;
  color: $body-color;
  padding-left: 30px;
}
