#project {
  height: 100%;

  .c {
    position: absolute;
    top: 50px;
    bottom: 0;
    background: $darkblue;
  }

  .b {
    margin-left: 20%;
  }

  .button {
    display: block;
    text-align: left;
    line-height: 2em;
    font-size: 1em;
    height: auto;
    font-family: $bold;
    margin-top: 0;
    margin-right: 0;
    width: auto;
    .fa {
      float: right;
      line-height: 2em;
    }
  }

  #map {
    height: 650px
  }

  .widegraph {
    position:absolute;
    bottom: 0;
    right: 0;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    background: $thinpink;

    .caption,
    .graph {
      margin-left: 20px;
      margin-right: 20px
    }
  }

/* Datasets ---------------------------------------------------------------- */
#data-select-container {
  background: #fff;
  height: 100%;
  display: none;

  #map-tools {
    padding: 10px;

    .close {
      float: right;
      cursor: pointer;
      display: inline-block;
    }
  }
}

.dataselect {
  overflow: auto;
  height: 100%;
}

.datanav {
  width: 33%;
  float: left;
  background: #fff;

  .datanav-in {
    border-right: 1px solid #ddd;

    .fa-chevron-right {
      display: none;
    }

    .dataset:hover,
    .selected {
      background: #fff3da;

      .fa-chevron-right {
        display: inline;
      }
    }

    .dataset {
      padding: 15px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      .fa {
        float: right;
        line-height: 1.5em;
      }

      .button {
        display: block;
        text-align: left;
        line-height: 2em;
        font-size: 1em;
        height: auto;
        font-family: $bold;
        margin-top: 0;
        margin-right: 0;
        width: auto;
        .fa {
          float: right;
          line-height: 2em;
        }
      }
    }
  }
}

.datanav.categories {
  font-family: $bold;
}

.datanav.sources,
.datanav.details {
  display: none;
}

.datanav.details {
  width: 34%;
  background: #fff3da;
}


  /* Layer selectors -------------------------------------------------------- */
  .layers {
    padding: 12px;
    color: #fff;

    #slider-range {
      margin-top: 0;
    }
  }

  .layer {
    border-bottom: 1px dotted #fff;
    padding: 8px 0px 20px;

    strong {
      padding-bottom: 0.5em;
    }

    h3 {
      font-size: 1em;
    }

    .show-settings,
    .close {
      cursor: pointer;
      float: right;
      color: #daedff;
      line-height: 1.4;
    }

    .settings {
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 150%;
      z-index: 9999;
      background: #fcf5f0;
      overflow: scroll;
      color: $body-color;

      /* We're using the h2 as a toolbar in .settings */
      h2 {
        font-size: 1em;
        font-family: $bold;
        padding: 12px;
        letter-spacing: 0;

        .fa-close {
          float: right;
          cursor: pointer;
        }
      }

      .filters {
        color: #333;
      }
    }
  }

  .rickshaw_graph .detail .x_label {
    display: none
  }
}

@import "project-table";

