.project-table {
  display: none;
  margin: 15px;
  padding: 10px;
}

.project-table .title {
  font-size: $medium-size;
  margin-bottom: 5px;
}

.project-table {
  .category {
    font-family: $bold;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  table {

  }
  td {

  }
  th {

  }
  th:first-child {
    width: 145px;
  }
}
