header {
  border-bottom: 1px solid $disabled;
}

#project {
  height: 100%;

  .c {
    position: absolute;
    top: 51px;
    bottom: 0;
    border-right: 1px solid $disabled;
    background: #fff;
  }

  .b {
    margin-left: 20%;
  }

  .button {
    display: block;
    text-align: left;
    line-height: 2em;
    font-size: 1em;
    height: auto;
    font-family: $bold;
    margin-top: 0;
    margin-right: 0;
    width: auto;
    .fa {
      float: right;
      line-height: 2em;
    }
  }

  #map {
    height: 650px
  }

  .widegraph {
    position:absolute;
    bottom: 0;
    right: 0;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    background: $thinpink;

    .caption,
    .graph {
      margin-left: 20px;
      margin-right: 20px
    }
  }

/* Datasets ---------------------------------------------------------------- */
#data-select-container {
  background: #fff;
  height: 100%;
  display: none;

  #map-tools {
    padding: 10px;

    .close {
      float: right;
      cursor: pointer;
      display: inline-block;
    }
  }
}

.dataselect {
  overflow: auto;
  height: 100%;
}

.datanav {
  width: 33%;
  float: left;
  background: #fff;

  .datanav-in {
    border-right: 1px solid #ddd;

    .fa-chevron-right {
      display: none;
    }

    .dataset:hover,
    .selected {
      background: #fff3da;

      .fa-chevron-right {
        display: inline;
      }
    }

    .dataset {
      padding: 15px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      .fa {
        float: right;
        line-height: 1.5em;
      }

      .button {
        display: block;
        text-align: left;
        line-height: 2em;
        font-size: 1em;
        height: auto;
        font-family: $bold;
        margin-top: 0;
        margin-right: 0;
        width: auto;
        .fa {
          float: right;
          line-height: 2em;
        }
      }
    }
  }
}

.datanav.categories {
  font-family: $bold;
}

.datanav.sources,
.datanav.details {
  display: none;
}

.datanav.details {
  width: 34%;
  background: #fff3da;
}


  /* Layer selectors -------------------------------------------------------- */
  .layers {
    padding: 12px;

    #slider-range {
      margin-top: 0;
    }
  }

  .layer {
    padding: 13px;
    border: 4px solid $thinpink;
    marigin-bottom: 1em;

    strong {
      padding-bottom: 0.5em;
    }

    h3 {
      font-size: 1em;
    }

    .show-settings,
    .close {
      cursor: pointer;
      float: right;
      color: $body-accent;
      line-height: 1.4;
    }

    /* Settings ---------------------------------------------------------- */

    .settings {
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 400%;
      z-index: 9999;
      background: #fff;
      overflow: scroll;
      color: $body-color;
      border-left: 1px solid $disabled;
      border-right: 1px solid $disabled;

      /* We're using the h2 as a toolbar in .settings */
      .toolbar {
        position: relative;
        padding-top: 10px;

        h2 {
          font-size: 1.5em;
          /* font-family: $bold; */
          padding: 12px;
          letter-spacing: 0;
        }

        .close-settings {
          position: absolute;
          right: 15px;
          top: 10px;
          cursor: pointer;
        }
      }

      .options {
        margin: 0 15px;
        background: #fff;

        .question {
          border-bottom: 2px solid $gray;
          display: inline-block;
          padding: 1%;
          padding-top: 20px;
          margin-bottom: 30px;
          width: 22%;

          .answers {
            display: none;
          }
        }
      }

      .select {
        margin: 0 15px;
        border: 5px solid $blue;
        padding: 10px;
        background: #fff;
        font-family: $bold;
        line-height: 20px;
        cursor: pointer;
      }

      .filters {
        color: #333;
      }
    }
  }

  .rickshaw_graph .detail .x_label {
    display: none
  }
}

@import "project-table";

