/* Settings page ------------------------------- */
.survey-settings {
  padding-bottom: 15px;
}

#sharing-view-container,
#delete-view-container {
  border-top: 6px solid #fff;
  margin-top: 1em;
  padding-top: 1em;
}

#delete-survey-form {
  display: none;
}

#zone-editor-container {
  #map-draw {
    height: 500px;
  }

  input.large {
    display: inline-block;
  }
}
