.survey-head .in {
  padding-bottom: 0;
}

.first-run {
  display: none;
}

/* Designer ---------------------------------------------------------------- */
.choice-boxes {
  overflow: auto;
}

.choice-box-wrap {
  float: left;
  width: 250px;
  background: #fff;
  margin-right: 20px;

  .choice-box {
    padding: 20px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  button {
    width: 100%;
    margin: 0;
  }
}


/* Survey List -------------------------------------------------------------- */

.survey-list-item .in {
  padding: 0;
}

.survey-list-item .in .a {
  padding: 50px 0 0 0;
}

.survey-list-item h2 {
  font-family: $font;

  a:link,
  a:visited {
    color: $body-med;
  }

  a:hover,
  a:active {
    color: $blue;
  }
}

.survey-list-item.even {
  background: #fff;
}

/* Survey and Map ----------------------------------------------------------- */
.survey .in {
  padding-bottom: 10px;
}

#survey-tabs .in {
  padding-top: 0;
}

.map-loading {
  pointer-events:none;
  text-align: center;
  background: url(../img/preloader.gif) no-repeat center center;
  height: 128px;
  position: absolute;
  top: 220px;
  left: 40%;
  width: 20%;
}

.checking {
  display: none;
}

/* Responses ---------------------------------------------------------------- */
.map-list-view {
  position: relative;
  height: 500px;
}
.map-list-view.gutter {
  margin-left: 9%;
  margin-right: 9%;
}

.responses-list {
  position: absolute;
  width: 30%;
  height: 470px;
  background: #fff;
  padding: 20px 20px 10px 20px;
  top: 0;
  right: 0;
  z-index: 10000;
  display: none;
  overflow: scroll;

  button .action-delete,
  .action-show-confirm button {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  a.close {
    float: none;
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    color: $body-color;
  }

  button.action-save-edit,
  button.action-cancel-edit {
    display: none;
  }

  .edit {
    display: none;
  }
  .streetview {
    width: 100%;
    height: auto;
  }

  .time, .collector {
    color: $body-accent;
  }

  .collector {
    padding-right: 2em;
  }

  .response {
    padding: 10px 0;
    border-top: 4px solid $thinpink;
    margin-top: 10px;

    .response-tools {

      /* Potential toolbar styling
      background: $thinpink;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: -10px;
      padding: 10px 20px 0 20px;
      */

      margin-top: 20px;
      overflow: auto;

      .review-tools {
        display: inline-block;
        float: left;
        padding-right: 5px;
        border-right: 3px solid $thinpink;
        margin-right: 15px;

        button {
          margin-bottom: 0;
        }
      }

      .action-show-confirm {
        float: right;
      }

      .confirm-delete {
        display: none;
        float: right;
        .action-delete {
          right: 100px;
        }
      }
    }
  }
}

/* Response review ------------------------- */

#review-view-container .responses-list {
  position: relative;
  width: 100%;
  top: 0;
  margin-left: 0;
  margin-bottom: 30px;
  overflow: auto;

  .collector,
  .time {
    color: $body-color;
  }

  .close {
    display: none;
  }

  .response-image,
  .streetview {
    float: right;
  }

  .response-image {
    max-width: 500px ! important;
    display: inline-block;
    margin-top: 1em;
    clear: both;
  }
}


/* Collector stats ------------------------- */

.collector-stats {
  overflow: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 5px solid $thinpink;

  .collector-stat {
    width: 25%;
    float: left;
    min-height: 80px;
    text-transform: capitalize;
  }
}


/* Multi-survey ------------------------- */
.multi {
  h3 {
    line-height: 1.1;
    letter-spacing: -2px;
    color: #58aeff;
    padding-right: 20px; /* to make room for the close button */

    .count {
      display: block;
      font-size: 60px;
    }
  }

  h4 {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -2px;

    .count {
      display: block;
      font-size: 60px;
    }
  }

  h4.layer-callout {
    margin-bottom: 10px;
    a {
      color: inherit;
    }
    a:hover {
      color: $blue;
    }
  }

  .show-settings {
    cursor: pointer;
  }

  .layer {
    margin-bottom: 2em;

    h4 {
      letter-spacing: -1px;
      font-size: 1.1em;
      line-height: 1em;
    }

    .circle {
      border: 3px solid;
      border-radius: 14px;
      display: inline-block;
      height: 14px;
      width: 14px;
      margin-bottom: -3px;
    }

    .legend-active .circle {
      background-color: transparent !important;
    }

    .inactive .circle {
      background-color: transparent !important;
      border-color: transparent !important;
    }

    .question {
      line-height: 1em;
      margin-top: 0.5em;
    }

    .answer {
      display: block;
      cursor: pointer;
      line-height: 27px;
    }
  }

  #map {
    height: 100vh;
  }

  #map-view-container {
    height: 100vh;
  }

  #map-tools {
    position: absolute;
    padding: 12px;
  }

  #responses-list {
    height: 94vh;
    padding: 3vh;
  }

  #info-window {
    height: 94vh;
    padding: 6vh 3vh 3vh 3vh;
    #responses-list {
      height: auto;
      padding: 0;
    }
  }

  .filters {
    .date-filters {
      display: none;
    }
  }

  .legend {
    .question-title {
      cursor: pointer;
    }
  }

}

.multi.map-list-view {
  height: 100%;
}
