.survey-head .in {
  padding-bottom: 0;
}

.first-run {
  display: none;
}

/* Designer ---------------------------------------------------------------- */
.choice-boxes {
  overflow: auto;
}

.choice-box-wrap {
  float: left;
  width: 250px;
  background: #fff;
  margin-right: 20px;

  .choice-box {
    padding: 20px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  button {
    width: 100%;
    margin: 0;
  }
}


/* Survey List -------------------------------------------------------------- */

.survey-list-item .in {
  padding: 0;
}

.survey-list-item .in .a {
  padding: 50px 0 0 0;
}

.survey-list-item h2 {
  font-family: $font;

  a:link,
  a:visited {
    color: $body-med;
  }

  a:hover,
  a:active {
    color: $blue;
  }
}

.survey-list-item.even {
  background: #fff;
}

/* Survey and Map ----------------------------------------------------------- */
.survey .in {
  padding-bottom: 10px;
}

#survey-tabs .in {
  padding-top: 0;
}

#response-view-container .in {
  padding: 0;
}

.map-loading {
  text-align: center;
  background: url(../img/preloader.gif) no-repeat center center;
  height: 128px;
  position: relative;
  top: 220px;
  left: 50%;
  width: 50%;
}

.checking {
  display: none;
}

/* Responses ---------------------------------------------------------------- */
.map-list-view {
  position: relative;
}

.responses-list {
  position: absolute;
  width: 50%;
  background: #fff;
  border: 8px solid $thinpink;
  padding: 20px 20px 0px 20px;
  top: 20px;
  margin-left: 10%;
  z-index: 10000;

  button .action-delete,
  .action-show-confirm button {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  button.close {
    float: none;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .time, .collector {
    color: $body-accent;
  }

  .collector {
    padding-right: 2em;
  }

  .response {
    padding: 10px 0;
    border-top: 4px solid $thinpink;
    margin-top: 10px;
  }

  .review-tools {
    margin-top: 10px;
  }

  .confirm-delete {
    display: none;
    .action-delete {
      right: 100px;
    }
  }
}

/* Response review ------------------------- */

#review-view-container .responses-list {
  position: relative;
  width: 100%;
  top: 0;
  margin-left: 0;
  overflow: auto;

  .collector,
  .time {
    color: $body-color;
  }

  .close {
    display: none;
  }

  .response-image,
  .streetview {
    float: right;
  }

  .response-image {
    max-width: 500px ! important;
    display: inline-block;
    margin-top: 1em;
    clear: both;
  }
}
