.survey-head .in {
  padding-bottom: 0;
}

/* Survey List -------------------------------------------------------------- */
.survey-list-item h2 {
  font-family: $font;
}

/* Survey and Map ----------------------------------------------------------- */
.survey .in {
  padding-bottom: 10px;
}

#survey-tabs .in {
  padding-top: 0;
}

#response-view-container .in {
  padding: 0;
}

