.box,
.button,
button,
form input[type=submit] {
  background: #fff;
  border: 6px solid $body-color;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 11px;
  width: 90px;
  height: 62px;

  font-family: $bold;
  font-size: 20px;
  text-align: center;
  line-height: 62px;
  letter-spacing: -1px;

  cursor: pointer;
}

.mini {
  height: 32px;

  border-width: 3px;
  font-family: $font;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 0px;
}


form button.box {
  line-height: normal;
}

.flex {
  width: auto;
  padding: 0px 15px;
}

.small {
  font-size: 16px;
}

.danger {
  border-color: $red;
  color: $red;
}

.warn {
  border-color: $orange;
  color: $orange;
}

.confirm,
.ok {
  border-color: $blue;
  color: $blue;
}


button,
.button {
  cursor: pointer;
  background: $blue;
  border-color: $blue;
  color: #fff;
}

button:hover,
.button:hover {
  background: #fff;
  color: $blue;
}

button.danger {
  border-color: $red;
  background-color: $red;
  color: white;
}

