<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LocalData</title>

    <!-- Styles -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300|Pacifico' rel='stylesheet' type='text/css'>
    <style type="text/css" media="all">
      @import url("css/app.css");
      @import url("js/lib/leaflet/leaflet.css");
      @import url("js/lib/leaflet.draw/leaflet.draw.css");
    </style>

    <style type="text/css" media="print">
      @import url("css/print.css");
    </style>
</head>

<body>
    <header class="out">
      <div class="in">
        <h1>
          <a href="index.html" class="logo"></a>
          <a href="index.html" class="logotype">LocalData</a>
        </h1>
        <div class="nav">
          <a href="/" class="mysurveys">All Surveys</a>
          <a href="#/surveys/new" class="mysurveys" id="newsurvey">Create a new survey</a>
          <div id="userbar-container"></div>
        </div>
      </div>
    </header>

    <div id="container">
    </div>

    <footer class="out">
      <div class="in">
        <h1>
          <a href="http://localdata.com/" class="logo"></a>
          <a href="http://localdata.com/" class="logotype">LocalData</a>
        </h1>

        <nav>
          <a href="http://localdata.com/case-muncie">In Action</a>
          <a href="http://localdata.com/about">Our Story</a>
          <a href="http://blog.localdata.com">News</a>
          <a href="http://localdata.com/privacy">Privacy</a>
          <a href="http://localdata.com/signup">Contact</a>

          <span class="social">
            <a href="http://twitter.com/localdata">Twitter</a>
            <a href="http://twitter.com/localdata">GitHub</a>
          </span>
        </nav>
      </div>
    </footer>



    <!-- Templates ========================================================-->
    <script type="text/template" id="userbar-view">
      <!--
      <span class="userbar">
        <i class="fa fa-user"></i> <%= user.name %>
      </span>
      -->
      <a href="/logout" class="logout">Log out</a>
    </script>


    <!-- Home .............................................................-->
    <script type="text/template" id="home">

      <div class="container">
        <header id="survey-header">
            <h2>Welcome to LocalData!</h2>
        </header>
      </div>

      <div class="container">
        <div id="content">
          <div id="body">
          </div>
        </div>
      </div>
    </script>


    <!-- Dashboard ..........................................................-->
    <script type="text/template" id="dashboard">
      <div class="out first-run">
        <div class="in">
          <div class="a">
            <h1>Welcome to LocalData.</h1>
          </div>
          <div class="b">
            <div style="text-align: right; padding-right: 40px; font-size: 100px; width:30px; position: absolute; top: 80px; left: 75%; color: #b7aba5;"><i class="fa fa-level-up"></i></div>
            <h3>To get started, create your first survey.</h3>

          </div>
        </div>
      </div>

      <div class="survey-list">
      </div>
    </script>


    <script type="text/template" id="survey-design-view">
    </script>

    <!-- Loading ..........................................................-->
    <script type="text/template" id="loading-view">
      <div class="loading">
        <img src="img/preloader.gif" alt="">
        <h2>Loading</h2>
      </div>
    </script>

    <!-- Previews .........................................................-->
    <script type="text/template" id="preview-view">
      <div id="preview-dimmer"></div>
      <div id="preview"></div>
    </script>

    <script type="text/template" id="t-preview-title">
      <div id="preview-close"></div>
    </script>

    <script type="text/template" id="t-preview-name">
      <h3>Survey Preview</h3>
    </script>

    <script type="text/template" id="t-preview-questions-container">
      <div class="preview-q-box depth-<%= depth %>">
      <% if (condition !== null) { %>
        <div class="condition">
          If they choose <%= condition %>:
        </div>
      <% } %>
      </div>
    </script>

    <script type="text/template" id="t-preview-question">
      <div class="preview-question">
        <div class="question-prompt">
          <b><%= prompt %></b>
        </div>
        <% _.each(answers, function (answer, i) { %> <div class="preview-answer"> <%= letters[i] %>: <%= answer %> </div> <% }); %>
      </div>
    </script>

    <!-- Settings .......................................................... -->
    <script type="text/template" id="settings-view">
      <h3>Survey settings</h3>
      <form>
        <label>Survey Name</label>
        <input type="text" name="name" value="<%= survey.name %>">

        <label>Location</label>
        <input type="text" name="location" value="<%= survey.location %>">

        <h3>What are you surveying?</h3>

        <label><input type="radio" value="point" name="type" <% if(survey.type === 'point') { %>checked <% } %>>We&apos;re collecting points on a map (for example, potholes, trees, data that doesn&apos;t correspond to an address)
        </label>

        <label><input type="radio" value="parcel" name="type" <% if(survey.type !== 'point' && survey.type !== 'pointandparcel') { %>checked <% } %>>We&apos;re collecting data using a parcel map (for example, property, homes, businesses with an address)
        </label>

        <label><input type="radio" value="pointandparcel" name="type" <% if(survey.type !== 'pointandparcel') { %>checked <% } %>>We need to collect information about points and parcels.
        </label>

        <submit class="btn save">Save</submit>
        <div class="saved">Form saved</div>
        <div class="error">Error saving the form &mdash; did you complete all fields?</div>
      </form>
    </script>

    <!-- Responses & Filtering ..............................................-->
    <script type="text/template" id="filter-results">
      <h3>
        Filter
        <%= count %>
        response<% if(count != 1) { %>s<% } %>
        by:
      </h3>

      <select id="filter">
        <option value="">Select a question to filter by</option>
        <% _.each(flattenedForm, function(filter) {%>
        <option value="<%- filter.name %>"><%- filter.text %></option>
        <% }); %>
      </select>
    </script>

    <script type="text/template" id="filter-results-answer">
      <a id="clear" class="btn close"><i class="fa fa-close"></i> Clear filter</a>
      <h2>Select an answer to filter by:</h2>
      <div id="loadingsmg" style="display:none"></div>
      <ul>
        <% _.each(choices, function(choice) { %>
          <li><a><%- choice.name %></a> <span class="badge" style="background-color: <%- choice.color %>"><%- choice.count %></span></li>
        <% }); %>
      </ul>
    </script>

    <script type="text/template" id="response-list">
      <div id="responses-pagination" class="pagination"></div>

      <% _.each(responses, function(r, i) { %>
        <div class="response">
          <h2>
            <% if(r.geo_info != undefined) { %>
              <%- r.geo_info.humanReadableName %><br />
            <% }else { %>
              <%- r.parcel_id %>
            <% }; %>
          </h2>

          <div class="collector">
            <i class="fa fa-user"></i>
            <% if(r.geo_info != undefined) { %>
              <%- r.source.collector %>
            <% } else{ %>
              <%- r.responses.collector %>
            <% } %>
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-time"></i>
            <%- r.createdHumanized %>
          </div>

          <% if(r.files != undefined) { %>
            <% _.each(r.files, function(file){ %>
              <img src="<%= file %>" alt="">
            <% });%>
          <% } %>

          <% _.each(r.responses, function(resp, key) { %>
            <div class="answer">
              <span class="key"><%- key %>:</span>
              <span class="value"><%- resp %>&nbsp;</span>
            </div>
          <% }); %>
        </div>

      <% }); %>

    </script>


    <!-- Upload ...........................................................-->
    <script type="text/template" id="upload-view">
      <h3>Upload scanned paper forms</h3>

      <p>When you&apos;ve scanned in the paper forms, you can upload them here.</p>
      <p>Either click the button and select the files, or drag and drop them right onto the page!</p>
      <div id="file-uploader"></div>
      <div class="drop-area"></div>
    </script>


    <!-- Scan .............................................................-->
    <script type="text/template" id="scan-view">
      <h3>Scanned forms</h3>
      <ul>
        <% _.each(scans, function(scan) {  %>
          <li>
            <%= scan.filename %>
            <span class="label"><%= scan.status %></span>
            <%= scan.created %>
          </li>
        <% }); %>
      </ul>
    </script>

    <!-- Pagination .......................................................-->
    <script type="text/template" id="t-responses-pagination">
      <% var buffer = 1; %>
      <ul>
        <li <% if (page === 0) { %>class="disabled"<% } %>><a href="#" id="prev">Prev</a></li>
        <% if (pageCount < 2*buffer + 1) {
          // There are not many pages
          var i;
          for (i = Math.max(page - buffer, 0); i < page + buffer + 1 && i < pageCount; i += 1) { %>
            <li class="pageNum <% if (i === page) { %>active<% } %>"><a href="#" data-page="<%= i %>"><%= i + 1 %></a></li>
          <% }
        } else if (page < buffer + 1) {
          // We're close to the beginning
          var i;
          for (i = 0; i < (2*buffer + 1) && i < pageCount - 1; i += 1) { %>
            <li class="pageNum <% if (i === page) { %>active<% } %>"><a href="#" data-page="<%= i %>"><%= i + 1 %></a></li>
          <% }
          if (i < pageCount - 1) { %>
            <li class="disabled"><a>...</a></li>
            <li class="pageNum"><a href="#" data-page="<%= pageCount - 1 %>">Last</a></li>
          <% }
        } else if (page >= pageCount - buffer - 1) {
          // We're close to the end
          %>
          <li class="pageNum"><a href="#" data-page="<%= 0 %>">First</a></li>
          <li class="disabled"><a>...</a></li>
          <% var i;
          for (i = page - buffer; i < page + buffer + 1 && i < pageCount; i += 1) { %>
            <li class="pageNum <% if (i === page) { %>active<% } %>"><a href="#" data-page="<%= i %>"><%= i + 1 %></a></li>
          <% }
        } else {
          // We're in the middle
          %>
          <li class="pageNum"><a href="#" data-page="<%= 0 %>">First</a></li>
          <li class="disabled"><a>...</a></li>
          <% var i;
          for (i = page - buffer; i < page + buffer + 1; i += 1) { %>
            <li class="pageNum <% if (i === page) { %>active<% } %>"><a href="#" data-page="<%= i %>"><%= i + 1 %></a></li>
          <% } %>
          <li class="disabled"><a>...</a></li>
          <li class="pageNum"><a href="#" data-page="<%= pageCount - 1 %>">Last</a></li>
        <% } %>
        <li <% if (page === pageCount - 1) { %>class="disabled"<% } %>><a href="#" id="next">Next</a></li>
      </ul>
    </script>


    <!-- Editor  ...........................................................-->
    <!-- Editor: Base template ............................................ -->

    <!-- Editor: Form templates ........................................... -->
    <script type="text/template" id="question-edit-template">
      <div class="question" data-name="<%= question.name %>">

        <div class="input-append">
          <input type="text" placeholder="Question" value="<%= question.text %>" data-role="question" class="question-input input-xlarge">
          <a class="btn remove"><i class="fa fa-trash-o"></i></a>
        </div>

        <div class="answers"></div>

        <div class="question-tools-container">
          <a class="btn add-answer">+ Add answer</a>
        </div>

        <div class="add-question-container">
          <a class="btn add-question"><i class="fa fa-plus-square-o"></i> Add question</a>

          <div class="question-choices">
            <div class="choice add-sub-question" data-type="radio-question">
              <span class="title">
                <i class="fa fa-dot-circle-o"></i>
                <i class="fa fa-circle-o"></i> Select one
              </span>
              Use when only one answer applies.
              <span class="example"> Example: Rank the condition of this property.</span>
            </div>
            <div class="choice add-sub-question" data-type="checkbox-question">
              <span class="title">
                <i class="fa fa-check-square-o"></i>
                <i class="fa fa-check-square-o"></i> Select multiple
              </span>
              Use when several answers may apply.
              <span class="example">Example: Select problems that apply to this building.</span>
            </div>
            <div class="choice add-sub-question" data-type="text-question">
              <span class="title"><i class="fa fa-edit"></i> Text field</span>
              Add notes or other details.
            </div>
            <div class="choice add-sub-question" data-type="file-question">
              <span class="title"><i class="fa fa-camera"></i> Photo upload</span>
              Prompts surveyors to add a photo
            </div>
            <div class="choice close-add-sub-question">
              <span class="title"><i class="fa fa-times"></i> Cancel</span>
            </div>
          </div>
        </div>

      </div>
    </script>

    <script type="text/template" id="photo-question-edit-template">
      <div class="question" data-name="<%= question.name %>">
        <div class="input-append input-prepend">
          <span class="add-on"><i class="fa fa-camera"> </i></span>
          <input type="text" placeholder="Photo upload question" value="<%= question.text %>" data-role="question" class="question-input input-xlarge">
          <a class="btn remove"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
    </script>

    <script type="text/template" id="text-question-edit-template">
      <div class="question" data-name="<%= question.name %>">
        <div class="input-append input-prepend">
          <span class="add-on"><i class=" fa fa-pencil"></i></span>
          <input type="text" placeholder="Text question" value="<%= question.text %>" data-role="question" class="question-input input-xlarge">
          <button class="remove"><i class="fa fa-trash-o"></i> Remove</button>
        </div>
      </div>
    </script>

    <script type="text/template" id="answer-edit-template">
      <div data-role="answer" class="input-append">
        <span class="add-on add-on-light">
          <% if(question.type !== 'checkbox') { %>
            <i class=" fa fa-circle-o" title="Select one choice. Good for ranking and yes-no questions."></i>

          <% }else {  %>
            <i class=" fa fa-check-square-o" title="Select one choice. Use when several answers may apply."></i>
          <% }  %>
        </span>
        <input type="text" value="<%= text %>">
        <a class="btn remove"><i class="fa fa-trash-o"></i></a>
        <a class="btn show-add-sub-question"><i class="fa fa-sitemap"></i><span> Add sub-question</span></a>
        <div class="question-choices">
          <div class="choice add-sub-question" data-type="radio-question">
            <span class="title">
              <i class="fa fa-dot-circle-o"></i>
              <i class="fa fa-circle-o"></i> Select one
            </span>
            Use when only one answer applies.
            <span class="example"> Example: Rank the condition of this property.</span>
          </div>
          <div class="choice add-sub-question" data-type="checkbox-question">
            <span class="title">
              <i class="fa fa-check-square-o"></i>
              <i class="fa fa-check-square-o"></i> Select multiple
            </span>
            Use when several answers may apply.
            <span class="example">Example: Select problems that apply to this building.</span>
          </div>
          <div class="choice add-sub-question" data-type="text-question">
            <span class="title"><i class="fa fa-edit"></i> Text field</span>
            Add notes or other details.
          </div>
          <div class="choice add-sub-question" data-type="file-question">
            <span class="title"><i class="fa fa-camera"></i> Photo upload</span>
            Prompts surveyors to add a photo
          </div>
          <div class="choice close-add-sub-question">
            <span class="title"><i class="fa fa-times"></i> Cancel</span>
          </div>
        </div>

      </div>
    </script>

    <script data-main="js/main" src="js/require.js"></script>

</body>
</html>
